<template>
  <div class="main">
    <div class="twobox">
      <div class="left1">
        <img src="@/assets/images/dcqk.png" alt>
      </div>
      <div class="right1">
        <div class="login1">
          <input type="text" class="biginput" placeholder="用户名">
          <input type="password" class="biginput" placeholder="密码">
          <input type="checkbox" class="check1">记住密码
          <span class="qrcode" @click="qrcodeClick">
            <img src="./images/qrcode.png" alt>
          </span>
          <br>
          <input type="submit" value="登陆" class="btn">
        </div>
      </div>
    </div>
    <div class="bigcode" v-show="qrcode==true"></div>
  </div>
</template>

<style scoped>
.bigcode {
  width: 200px;
  height: 200px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.qrcode {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}
.qrcode > img {
  width: 100%;
  height: 100%;
}
.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("./images/bj.jpg") no-repeat;
  background-size: 100% 100%;
}
.main > .twobox {
  width: 70%;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: space-between;
}
.main > .twobox > div {
  flex: 1;
}

.left1 > img {
  width: 90%;
  transform: translateY(20px);
}

.login1 {
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  background-color: rgba(200, 207, 218, 0.7);
  border-radius: 16px;
  padding: 40px 20px;
  color: rgb(19, 101, 167) !important;
  font-size: 14px;
  font-weight: normal;
  position: relative;
}
.biginput {
  width: 100%;
  height: 40px;
  outline: none;
  margin-bottom: 20px;
  text-indent: 20px;
  border-radius: 6px;
  border: 1px solid rgb(19, 101, 167) !important;
  background-color: rgb(140, 147, 168);
  color: rgb(0, 9, 73);
}
.check1 {
  transform: translateY(1px);
  margin-right: 5px;
}
.login1 > .btn {
  width: 100% !important;
  height: 40px;
  margin-top: 20px;
  border-radius: 6px;
  color: #fff;
  background-color: rgb(19, 101, 167);
}
</style>

<script>
export default {
  data() {
    return {
      qrcode: false
    };
  },
  methods: {
    qrcodeClick() {
      if (this.qrcode == false) {
        this.qrcode = true;
      } else {
        this.qrcode = false;
      }
    }
  }
};
</script>
