<template>
  <div class="databox2">
    <div class="databoxdiv">
      <div class="page7div1">
        <div class="biaoti2 weizhi1">各社区垃圾分类评分</div>
        <img class="imgweizhi" src="@/assets/images/dtsj.png">
      </div>
      <div class="page7div2">
        <div class="biaoti2">高发事件类型红黑榜</div>
        <div style="display: flex;margin-top:5px">
          <div class="ab1">事件处理量</div>
          <div class="ab2">事件处理率</div>
          <div class="ab3"></div>
          <div style="width: 49%;height: 250px;margin-left: 20px;margin-top: 10px;">
            <div class="jindu jleft" style="width: 100%;" v-for="(item,i) in array71" :key="i">
              <div class="jindu1">{{item.name}}</div>
              <div class="jindu1">
                {{item.num}}
                <span style="color:green">/{{item.num2}}</span>
              </div>
              <div class="jindu2">
                <el-progress
                  :text-inside="true"
                  style="position: relative;top: 8px;"
                  :percentage="item.num2/item.num*100"
                  :show-text="false"
                ></el-progress>
              </div>
            </div>
          </div>
          <div style="width: 50%;height: 250px;margin-top: 10px;">
            <div class="jindu jleft" style="width: 100%;" v-for="(item,i) in array72" :key="i">
              <!-- <div class="jindu1" v-if="i>4">{{item.name}}</div> -->
              <div class="jindu2">
                <el-progress
                  :text-inside="true"
                  style="position: relative;top: 8px;"
                  color="rgb(0,153,76)"
                  :percentage="item.num"
                  :show-text="false"
                ></el-progress>
              </div>
              <div class="jindu3">{{item.num}}%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="page7div3">
        <div class="biaoti2">垃圾分类红黑榜</div>
        <div style="width: 300px;position: relative;left: 50px;top: 10px;">
          <div class="jindu" style="width: 100%;" v-for="(item,i) in array71" :key="i">
            <div class="jindu1" style="width: 25%;">
              <div v-show="i==0" style="background-color:rgb(239,55,89) ;" class="spancolor">{{i+1}}</div>
              <div v-show="i==1" style="background-color:rgb(228,0,130) ;" class="spancolor">{{i+1}}</div>
              <div
                v-show="i==2"
                style="background-color:rgb(176,75,130) ;"
                class="spancolor"
              >{{i+1}}</div>
              <div v-show="i>2" style="background-color:rgb(24,150,254) ;" class="spancolor">{{i+1}}</div>
              {{item.name}}
            </div>
            <div class="jindu2">
              <el-progress
                v-show="i==0"
                :text-inside="true"
                style="position: relative;top: 8px;"
                :show-text="false"
                :percentage="item.num/3"
                color="rgb(239,55,89)"
                status="exception"
              ></el-progress>
              <el-progress
                v-show="i==1"
                :text-inside="true"
                style="position: relative;top: 8px;"
                :percentage="item.num/3"
                :show-text="false"
                color="rgb(228,0,130)"
                status="exception"
              ></el-progress>
              <el-progress
                v-show="i==2"
                :text-inside="true"
                style="position: relative;top: 8px;"
                :percentage="item.num/3"
                :show-text="false"
                color="rgb(176,75,130)"
                status="exception"
              ></el-progress>
              <el-progress
                v-show="i>2"
                :text-inside="true"
                style="position: relative;top: 8px;"
                :percentage="item.num/3"
                :show-text="false"
                color="rgb(24,150,254)"
                status="exception"
              ></el-progress>
            </div>
            <div class="jindu3">{{item.num}}</div>
          </div>
        </div>
      </div>
      <div class="page7div4">
        <div class="biaoti2" style="position: relative;left: 50px;">问题督查反馈结论</div>
        <div class="spanbox">
          <div style="background-color:rgb(239,55,89) ;" class="spancolor">1</div>
          <div>
            截止目前环境卫生死角主要分布在∶
            <span style="color: red;">莲都小学、巾山塔广场、问渔路和温寿线交叉口</span> 等12个区域。
          </div>
        </div>
        <div class="spanbox">
          <div style="background-color:rgb(239,55,89) ;" class="spancolor">2</div>
          <div>
            累计环境卫生问题垃圾遗漏比较严重，集中在
            <span style="color: red;">白马社区</span>，请督促环卫人员及时去处理20条。
          </div>
        </div>
        <div class="spanbox">
          <div style="background-color:rgb(239,55,89) ;" class="spancolor">3</div>
          <div>
            当前地区垃圾桶满溢高峰时段为∶
            <span style="color: red;">11:00-12:00</span> ,清运车到达高峰时段为∶
            <span style="color: red;">13:00-14:00</span>，存在滞后性。
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.page7div2 {
  position: absolute;
  top: 67px;
  left: 900px;
}
.page7div3 {
  position: absolute;
  top: 477px;
  left: 900px;
}
.page7div4 {
  position: absolute;
  top: 477px;
  left: 1250px;
}
.ab1 {
  position: absolute;
  top: 25px;
  left: 365px;
  color: white;
}
.ab2 {
  position: absolute;
  top: 25px;
  left: 465px;
  color: white;
}
.ab3 {
  position: absolute;
  top: 26px;
  left: 452px;
  width: 5px;
  height: 325px;
  background-color: rgb(49, 176, 247);
}
.weizhi1 {
  position: relative;
  left: 95px;
  top: 67px;
}
.imgweizhi {
  position: relative;
  left: 95px;
  top: 128px;
}
.biaoti2 {
  color: rgb(2, 215, 219);
  font-size: 16px;
  text-indent: 1em;
  font-weight: bold;
  border-left: 5px solid rgb(2, 215, 219);
}
body {
  overflow-x: hidden;
}
input {
  border: 0 !important;
}
.spanbox {
  display: flex;
  width: 300px;
  height: 85px;
  position: relative;
  top: 25px;
  left: 108px;
}
.page7div4 {
  color: white;
}
#tubiao2 {
  width: 100%;
  height: 230px;
}

#tubiao3 {
  width: 105%;
  height: 260px;
  position: relative;
  top: -15px;
  left: -2%;
}

.flex {
  display: inline-flex;
  width: 100%;
  text-align: center;
}

.flex > div {
  margin: 9px;
  margin-bottom: 5px;
}

.xjtext1 {
  color: rgb(0, 231, 240);
  font-size: 29px;
}

.xjtext3 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.cimg {
  height: 83px;
  position: relative;
  top: 10px;
  left: 20px;
}

.jindu2 {
  width: 60%;
}

.jindu {
  width: 50%;
}

.jleft {
  float: left;
}

.addjifen {
  float: left;
}

.btpm {
  display: inline-flex;
  width: 100%;
  font-size: 16px;
  color: orange;
  text-indent: 17px;
  margin-top: 10px;
  position: relative;
  top: 2px;
}

.databox2 {
  width: 1800px;
  height: 800px;
  position: relative;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}
.btpm > div {
  width: 50%;
}

.lefttable {
  width: 230px;
  height: 800px;
  background-color: rgb(16, 26, 87);
  color: white;
}

.lefttable1 {
  background-color: rgb(24, 37, 113);
  display: inline-flex;
  width: 100%;
  height: 45px;
  line-height: 45px;

  text-align: center;
}

.l1 {
  width: 60px;
  color: orange;
  font-size: 12px;
}

.l2 {
  width: 110px;
}

.l3 {
  width: 60px;
  font-size: 12px;
  color: orange;
}

.el-input__inner {
  color: white;
}

.lefttable2div {
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 3px solid rgb(24, 37, 113);
}

.centertable {
  width: 1200px;
  height: 800px;
  position: absolute;
  left: 240px;
  top: 0px;
  background-color: rgb(16, 26, 87);
}

.righttable {
  width: 350px;
  height: 800px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  background-color: rgb(16, 26, 87);
}
.el-table {
  color: white;
  background-color: rgb(16, 26, 87);
}
.el-table tr {
  background-color: rgb(16, 26, 87);
}
.el-table th {
  background-color: rgb(24, 40, 148);
}
.el-table__body tr:hover > td {
  background-color: rgb(24, 40, 148) !important;
}

.el-table thead {
  color: white;
  font-weight: 500;
}
.righttable {
  color: white;
}
.rightheader {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  text-indent: 1em;
}
.righttable1 {
  display: inline-flex;
  width: 100%;
}
.righttable2 {
  width: 25%;
  border: 1px solid rgb(24, 40, 148);
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.datacenter {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 95px;
  left: 50px;
  z-index: 10;
  background-color: rgb(1, 10, 84);
  padding-top: 25px;
}
.el-pager li {
  background-color: rgb(16, 26, 87);
  color: white;
}
.el-pagination button:disabled {
  color: white;
  background-color: rgb(16, 26, 87);
  cursor: not-allowed;
}
.el-pagination .btn-next,
.el-pagination .btn-prev {
  background-size: 16px;
  cursor: pointer;
  margin: 0;
  color: white;
  background-color: rgb(16, 26, 87);
}
.righttable3 {
  width: 75%;
  border: 1px solid rgb(24, 40, 148);
  text-align: left;
  padding-left: 6px;
  height: 40px;
  line-height: 40px;
}

.el-table {
  font-size: 16px;
}
</style>


<script>
export default {
  data() {
    return {
      array71: [
        {
          name: "其他问题",
          num: 185,
          num2: 178
        },
        {
          name: "其他问题",
          num: 185,
          num2: 178
        },
        {
          name: "其他问题",
          num: 185,
          num2: 178
        },
        {
          name: "其他问题",
          num: 185,
          num2: 178
        },
        {
          name: "其他问题",
          num: 185,
          num2: 178
        },
        {
          name: "其他问题",
          num: 185,
          num2: 178
        },
        {
          name: "其他问题",
          num: 185,
          num2: 178
        },
        {
          name: "其他问题",
          num: 185,
          num2: 178
        },
        {
          name: "其他问题",
          num: 185,
          num2: 178
        },
        {
          name: "其他问题",
          num: 185,
          num2: 178
        }
      ],
      array72: [
        {
          num: 99
        },
        {
          num: 98
        },
        {
          num: 97
        },
        {
          num: 96
        },
        {
          num: 95
        },
        {
          num: 94
        },
        {
          num: 93
        },
        {
          num: 92
        },
        {
          num: 91
        },
        {
          num: 90
        }
      ]
    };
  }
};
</script>

