<template>
  <div class="databox2">
    <div class="databoxdiv">
      <div class="lefttable">
        <div class="lefttable1">
          <div class="l1">返回</div>
          <div class="l2">江干区项目组</div>
          <div class="l3" @click="refresh">刷新</div>
        </div>
        <div class="lefttable2">
          <div class="inputbox">
            <input type="text" class="leftinput" placeholder="请输入内容">
          </div>
          <div v-for="(item,i) in array5" class="lefttable2div" :key="i">{{item.jiedao}}</div>
        </div>
        <div class="lefttable3"></div>
      </div>
      <div class="centertable">
        <table class="table">
          <tr>
            <th>关注</th>
            <!-- <th>投递编号</th> -->
            <th>投递人</th>
            <th>投递时间</th>
            <th>投递地点</th>
            <th>垃圾重量</th>
            <th>垃圾类型</th>
            <th>co2</th>
            <th>操作</th>
          </tr>
          <!-- ---------------------------------------- -->
          <tr v-for="(item, i) in page3tableData" :key="i">
            <td>
              <img src="@/assets/images/w1.png" alt="#">
            </td>
            <!-- <td>{{item.a1}}</td> -->
            <td>{{item.username}}</td>
            <td>{{datatimes(item.date)}}</td>
            <td>{{item.bin_name}}</td>
            <td>{{dataweight(item.data)}}</td>
            <td>{{datapro(item.bin_name)}}</td>
            <td>0</td>
            <td>
              <a href="#">查看</a>
              <a href="#">删除</a>
            </td>
          </tr>
        </table>
      </div>
      <div class="righttable">
        <div class="rightheader">详细信息</div>
        <div class="righttable1">
          <div class="righttable2">问题编号</div>
          <div class="righttable3">20201116004</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">创建人</div>
          <div class="righttable3">张棋</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">创建时间</div>
          <div class="righttable3">2022-2-28</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">详细地址</div>
          <div class="righttable3">金桂苑社区</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">问题类型</div>
          <div class="righttable3">垃圾清运</div>
        </div>
        <div class="righttable1">
          <div class="righttable2" style="height: 140px;line-height: 140px;">问题照片</div>
          <div class="righttable3" style="height: 134px;padding-top: 6px;">
            <img src="@/assets/images/tp1.png">
            <img src="@/assets/images/tp1.png">
            <img src="@/assets/images/tp1.png">
            <img src="@/assets/images/tp1.png">
          </div>
        </div>
        <div class="righttable1">
          <div class="righttable2">问题说明</div>
          <div class="righttable3">地上有垃圾未清扫</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">整改人</div>
          <div class="righttable3">张棋</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">整改时间</div>
          <div class="righttable3">2020-2-28</div>
        </div>
        <div class="righttable1">
          <div class="righttable2" style="height: 140px;line-height: 140px;">整改照片</div>
          <div class="righttable3" style="height: 134px;padding-top: 6px;">
            <img src="@/assets/images/tp2.png">
            <img src="@/assets/images/tp2.png">
            <img src="@/assets/images/tp2.png">
            <img src="@/assets/images/tp2.png">
          </div>
        </div>
        <div class="righttable1">
          <div class="righttable2" style="height: 120px;line-height: 120px;">整改说明</div>
          <div class="righttable3" style="height: 120px;">已经清扫完毕</div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.centertable {
  overflow: hidden;
  overflow-y: scroll;
}
.centertable > .table > tr:hover {
  background-color: rgb(24, 40, 148);
}
.block {
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  padding: 5px;
  color: #606266;
}
.block input {
  width: 28px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  outline: none;
  color: #fff;
  transform: translateY(3px);
  font-size: 18px;
}
.block > span {
  color: #409eff;
}
.block > div {
  width: 20px;
  margin: 0 5px;
  cursor: pointer;
}
.block > div::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
}
.block > .btn1::before {
  transform: rotate(-45deg) translateY(8px);
}
.block > .btn2::before {
  transform: translateY(6px) translateX(5px) rotate(135deg);
}

.centertable > .table {
  width: 100%;
  border-collapse: collapse;
}
.centertable > .table > tr {
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.centertable > .table > tr > th {
  background-color: rgb(24, 40, 148);
}
.centertable > .table > tr > th,
.centertable > .table > tr > td {
  border-bottom: 1px solid #ebeef5;
  padding: 15px 0;
}
.centertable > .table > tr > td {
  line-height: 25px;
  width: 11%;
}
.centertable > .table > tr > td > img {
  width: 40px;
  height: 40px;
}
.centertable > .table > tr > td > a {
  color: #fff;
  margin-left: 5px;
}
.leftinput {
  width: 100%;
  height: 54px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  outline: none;
  color: #fff;
  text-indent: 10px;
}
.inputbox {
  border-bottom: 3px solid rgb(24, 37, 113);
}
.databoxdiv {
  z-index: 100;
}

.lefttable {
  width: 230px;
  height: 800px;
  background-color: rgb(16, 26, 87);
  color: white;
}

.lefttable1 {
  background-color: rgb(24, 37, 113);
  display: inline-flex;
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

.l1 {
  width: 60px;
  color: orange;
  font-size: 12px;
}

.l2 {
  width: 110px;
}

.l3 {
  width: 60px;
  font-size: 12px;
  color: orange;
}

.el-input__inner {
  color: white;
}

.lefttable2div {
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 3px solid rgb(24, 37, 113);
}

.centertable {
  width: 1200px;
  height: 800px;
  position: absolute;
  left: 240px;
  top: 0px;
  background-color: rgb(16, 26, 87);
}

.righttable {
  width: 350px;
  height: 800px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  background-color: rgb(16, 26, 87);
}
.el-table {
  color: white;
  background-color: rgb(16, 26, 87);
}
.el-table tr {
  background-color: rgb(16, 26, 87);
}
.el-table th {
  background-color: rgb(24, 40, 148);
}
.el-table__body tr:hover > td {
  background-color: rgb(24, 40, 148) !important;
}

.el-table thead {
  color: white;
  font-weight: 500;
}
.righttable {
  color: white;
}
.rightheader {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  text-indent: 1em;
}
.righttable1 {
  display: inline-flex;
  width: 100%;
}
.righttable2 {
  width: 25%;
  border: 1px solid rgb(24, 40, 148);
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.datacenter {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 95px;
  left: 50px;
  z-index: 10;
  background-color: rgb(1, 10, 84);
  padding-top: 25px;
}
.el-pager li {
  background-color: rgb(16, 26, 87);
  color: white;
}
.el-pagination button:disabled {
  color: white;
  background-color: rgb(16, 26, 87);
  cursor: not-allowed;
}
.el-pagination .btn-next,
.el-pagination .btn-prev {
  background-size: 16px;
  cursor: pointer;
  margin: 0;
  color: white;
  background-color: rgb(16, 26, 87);
}
.righttable3 {
  width: 75%;
  border: 1px solid rgb(24, 40, 148);
  text-align: left;
  padding-left: 6px;
  height: 40px;
  line-height: 40px;
}

.el-table {
  font-size: 16px;
}
</style>

<script>
import { gains, timeIs } from "../../api/parse";
// import { Empty } from "element-ui";
export default {
  data() {
    return {
      input3: "",
      array4: [
        {
          name: "张某某",
          num: 88
        },
        {
          name: "张某某",
          num: 86
        },
        {
          name: "张某某",
          num: 84
        },
        {
          name: "张某某",
          num: 82
        },
        {
          name: "张某某",
          num: 80
        },
        {
          name: "张某某",
          num: 79
        },
        {
          name: "张某某",
          num: 68
        },
        {
          name: "张某某",
          num: 66
        },
        {
          name: "张某某",
          num: 54
        },
        {
          name: "张某某",
          num: 50
        }
      ],
      array5: [{ jiedao: " 绍兴市上虞区曹娥街道办事处" }],
      page3tableData: ""
    };
  },
  computed: {},
  methods: {
    isData() {
      let data = gains(
        "/china-dashboard/bin-transactions?client_id=618cdc5897c1b41b10838392"
      );
      var datas = gains(
        "/china-dashboard/client-users-ranking?client_id=618cdc5897c1b41b10838392"
      );
      this.page3tableData = data.data[0].data;
      // console.log(data);
      // console.log(datas);
      // console.log(data.data[0].data[0].bin_name, "-------"); //bin_name
      window.localStorage.setItem("binName", data.data[0].data[0].bin_name);
    },

    datapro(num) {
      // console.log(num);

      if (num.indexOf("_") != -1) {
        var arrs = num.split("_");
        return arrs[arrs.length - 1];
      } else {
        var arrs = num.split("-");
        return arrs[arrs.length - 1];
      }
    },
    datatimes(times) {
      let time = times.split("T");
      let second = time[1].split(".")[0];
      let hours = Number(second.split(":")[0]) + 8;

      if (hours <= 24) {
        hours = hours;
      } else {
        hours = hours - 24;
      }

      return (
        time[0] +
        " " +
        hours +
        ":" +
        second.split(":")[1] +
        ":" +
        second.split(":")[2]
      );
    },
    refresh() {
      this.isData();
    },
    dataweight(num) {
      //重量
      if (JSON.stringify(num) == "{}") {
        return 0;
      } else {
        return 0;
        // if (num.weight < 0) {
        //   return 0;
        // } else {
        //   return num.weight;
        // }
      }
    }
  },
  mounted: function() {
    this.isData();
    let timer = setInterval(() => {
      this.isData();
    }, timeIs()); //60000
  }
};
</script>

