<template>
  <div>
    <div class="jiazai" v-if="jiazai"></div>
    <div
      id="container"
      v-show="$route.path=='/home' || $route.path == '/search1' || $route.path == '/search2'"
    ></div>
    <div class="mengban" v-show="mtrue == true">
      <div class="mengbanbox">
        <div class="mleft">
          <div class="mleft1">{{unit}}分类点</div>
          <img class="mleft2" src="@/assets/images/datu.png">
          <div class="mleft3">
            整体工作情况:
            <span class="textgreen">优</span>
          </div>
        </div>
        <div class="mcenter">
          <div class="mheader">督导员信息</div>
          <div class="mbox2">
            <div>
              人员姓名:
              <span class="textblue">{{name}}</span>
            </div>
            <div>
              考核评分:
              <span class="textblue">{{examine}}分</span>
            </div>
            <div>
              本年督导次数:
              <span class="textblue">{{mouthnum * 12}}次</span>
            </div>
            <div>
              所属单位:
              <span class="textblue">{{unit}}</span>
            </div>
            <div>
              工作时间:
              <span class="textblue">{{jobtime}}</span>
            </div>
            <div>
              联系方式:
              <span class="textblue">{{phone}}</span>
            </div>
            <div>
              督查次数:
              <span class="textblue">{{mouthnum}}次</span>
            </div>
            <!-- <img src="@/assets/images/tx.jpg"> -->
          </div>

          <div class="mheader" style="margin-top: 10px;">本月督导工作次数</div>
          <div class="mbox3" style="height: 174px;">
            <div id="mbox3"></div>
          </div>
        </div>
        <div class="mright">
          <div class="mheader">
            社区分类点信息
            <span style="margin-left: 234px; cursor: pointer;" @click="mtrueClick">x</span>
          </div>
          <div class="mbox2">
            <div>
              站点名称:
              <span class="textblue">{{sitename}}</span>
            </div>
            <div>
              站点编号:
              <span class="textblue" style="display: inline-block;">{{binid}}</span>
            </div>
            <div>
              站点排名:
              <span class="textblue">0</span>
            </div>
            <!-- <div>
              负责人:
              <span class="textblue">蒋国荣</span>
            </div>-->
            <div>
              联系电话:
              <span class="textblue">{{phone}}</span>
            </div>
            <div>
              运营时间:
              <span class="textblue">8：00-16：00</span>
            </div>
            <div>
              本月垃圾分类次数:
              <span class="textblue">{{weightCount}}次</span>
            </div>
            <div>
              今年累计垃圾分类量:
              <span class="textblue">0</span>
            </div>
            <div>
              下月计划垃圾分类量:
              <span class="textblue">{{weightCount * 2}}次</span>
            </div>
            <div>
              站点地址:
              <span class="textblue">{{sitname}}</span>
            </div>
            <div class="laji">
              <div class="laji1">
                <img class="laji2" src="@/assets/images/lj1.png">
                <div class="laji3">厨余垃圾</div>
                <div class="laji4">
                  <span style="font-size: 25px;font-weight: bold;">0</span>
                </div>
              </div>
              <div class="laji1">
                <img class="laji2" src="@/assets/images/lj2.png">
                <div class="laji3">其他垃圾</div>
                <div class="laji4">
                  <span style="font-size: 25px;font-weight: bold;">0</span>
                </div>
              </div>
            </div>
            <div class="laji">
              <div class="laji1">
                <img class="laji2" src="@/assets/images/lj3.png">
                <div class="laji3">有害垃圾</div>
                <div class="laji4">
                  <span style="font-size: 25px;font-weight: bold;">0</span>
                </div>
              </div>
              <div class="laji1">
                <img class="laji2" src="@/assets/images/lj4.png">
                <div class="laji3">可回收物</div>
                <div class="laji4">
                  <span style="font-size: 25px;font-weight: bold;">0</span>
                </div>
              </div>
            </div>
            <!-- <img src="@/assets/images/a1.png"> -->
          </div>
        </div>
        <div class="mbuttonbox">
          <div>
            <button class="mbutton">打卡</button>
            <div class="mbuttontext">考勤状态</div>
          </div>
          <div>
            <button class="mbutton">在岗</button>
            <div class="mbuttontext">工作状态</div>
          </div>
          <div>
            <button class="mbutton">{{mouthnum}}次</button>
            <div class="mbuttontext">本日督查</div>
          </div>
        </div>
        <div @click="close()" class="close"></div>
      </div>
    </div>
  </div>
</template>
<style scoped>
#mbox3 {
  width: 100%;
  height: 100%;
}
</style>



<script>
// import $ from "../../assets/js/jquery";
import Echarts from "../../assets/js/echarts.all";
// import AMap from "../../assets/js/amap";
// import { log } from "util";
// import { lookup } from "mime";

import { gains } from "../../api/parse";

export default {
  data() {
    return {
      jiazai: false,
      AMap: "",
      mtrue: false, //蒙版开关
      tubiaotrue: false,
      time: "",
      title: "",
      jiekou1: "",
      jiekou2: "",
      amapid: "",
      name: "", //人员姓名
      examine: "98", //考核评分
      mouthnum: "12", //本月督导次数
      unit: "上虞街道办事处", //所属单位
      jobtime: "8:00-17:00", //督察时间
      phone: "", //电话
      supernum: "", //督察次数
      sitename: "", //站点名称
      sitname: "", //站点编号
      binid: "", //站点地址
      weightCount: "",
      mapdast: null
    };
  },
  methods: {
    start() {
      this.ditu();
      this.vueajaxzh("/china-dashboard/get-users-list", 1);
      this.vueajaxzh("/china-dashboard/get-bins-list", 2);
    },
    vueajaxzh(url, data1) {
      var _self = this;
      var data = gains(url);
      if (data1 == 1) {
        _self.jiekou1 = data;
        // console.log(1, data);.
      }
      if (data1 == 2) {
        _self.jiekou2 = data;
        // console.log(2, data);
        _self.dituadd();
      }
    },
    close() {
      this.mtrue = false;
    },
    dituadd() {
      var map = new AMap.Map("container", {
        mapStyle: "amap://styles/c1a018f81c8146e7c504889cff056a6c" //设置地图的显示样式
      });
      // setTimeout(map.setZoomAndCenter(8, [101.610209, 3.067155]), 3000);
      setTimeout(map.setZoomAndCenter(8, [120.867396, 30.007985]), 3000); //120.867396 30.007985
      this.mapdast = map;
      var arrays = [];
      //   console.log(this.jiekou2);
      for (let i = 0; i < this.jiekou2.data.length; i++) {
        //1---------------------------------------------在这里判断 前两位数是否等于

        if (this.jiekou2.data[i].longitude && this.jiekou2.data[i].latitude) {
          var marker = new AMap.Marker({
            icon: require("../../assets/images/ljt.png"),
            position: [
              this.jiekou2.data[i].longitude,
              this.jiekou2.data[i].latitude
            ]
          });
          marker.id = this.jiekou2.data[i].bin_id;
          arrays.push(marker);
        }
      }

      var markerarray = new AMap.OverlayGroup(arrays);
      map.add(markerarray);

      let _this = this;

      markerarray.on("click", function(e) {
        // console.log(e.target.id);
        // 获取到的信息
        var bin_id = e.target.id;
        _this.binid = bin_id;

        _this.message(e.target.id);
        _this.mtrue = true;
        _this.tubiao1();
      });
    },
    //获取桶的具体信息
    message(parmter) {
      let data = gains("/china-dashboard/get-bins-info/" + parmter);
      if (data.data.experts[0]) {
        this.name = data.data.experts[0].expert_name;
        this.phone = data.data.experts[0].expert_phone_number;
      } else {
        this.name = "Jack";
        this.phone = "15212655645";
      }
      //所属公司
      if (data.data.client) {
        this.unit = data.data.client.merchant;
      } else {
        this.unit = "无";
      }
      // console.log();
      if (data.data.number_of_barcode_transactions) {
        this.mouthnum = data.data.number_of_barcode_transactions.total_count;
      } else {
        this.mouthnum = 6;
      }
      // if(data.data)
      console.log(data);
      if (data.data.number_of_bin_transactions) {
        this.weightCount = data.data.number_of_bin_transactions.total_count;
      } else {
        this.weightCount = 340;
      }
      this.sitname = data.data.bin.location.address;
      this.sitename = data.data.bin.bin_name;
    },
    ditu() {
      var map = new AMap.Map("container", {
        mapStyle: "amap://styles/c1a018f81c8146e7c504889cff056a6c" //设置地图的显示样式
      });
      setTimeout(map.setZoomAndCenter(8, [101.610209, 3.067155]), 3000);
    },
    fugai() {
      //   console.log(1);
    },
    tubiao1() {
      var dom = document.getElementById("mbox3");
      dom.style.width = 384 + "px";
      dom.style.height = 174 + "px";
      var myChart = Echarts.init(dom);
      window.addEventListener("resize", () => {
        dom.style.width = 100 + "%";
        dom.style.height = 100 + "%";
        myChart.resize();
      });
      dom.style.width = dom.style.width + 1 + "px";

      // var app = {};
      var option = null;
      option = {
        color: ["rgb(40,206,126)"],
        tooltip: {
          trigger: "axis",
          axisPointer: {
            // 坐标轴指示器，坐标轴触发有效
            type: "shadow" // 默认为直线，可选为：'line' | 'shadow'
          }
        },
        textStyle: {
          color: "white" //显示字体粗细等
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          top: "3%",
          containLabel: true
        },
        xAxis: [
          {
            type: "category",
            data: ["2-22", "2-23", "2-24", "2-25", "2-26", "2-27", "2-28"],
            axisTick: {
              alignWithLabel: true
            }
          }
        ],
        yAxis: [
          {
            type: "value"
          }
        ],
        series: [
          {
            name: "工作次数",
            type: "bar",
            barWidth: "60%",
            data: [10, 52, 100, 154, 200, 260, 320],
            itemStyle: {
              normal: {
                label: {
                  show: true, //开启显示
                  position: "top", //在上方显示
                  textStyle: {
                    //数值样式
                    color: "white",
                    fontSize: 16
                  }
                }
              }
            }
          }
        ]
      };
      if (option && typeof option === "object") {
        myChart.setOption(option, true);
      }
    },
    gettime() {
      var vWeek;
      vWeek = [
        "星期天",
        "星期一",
        "星期二",
        "星期三",
        "星期四",
        "星期五",
        "星期六"
      ];
      var date = new Date();
      var year = date.getFullYear();
      var month = date.getMonth() + 1;
      var day = date.getDate();
      var hours = date.getHours();
      var minutes = date.getMinutes();
      var seconds = date.getSeconds();
      var vWeek_s = date.getDay();
      if (seconds < 10) {
        seconds = "0" + seconds;
      }
      var time =
        year +
        "/" +
        month +
        "/" +
        day +
        "" +
        "\t" +
        vWeek[vWeek_s] +
        "\t" +
        hours +
        ":" +
        minutes +
        ":" +
        seconds;
      this.time = time;
    },
    mtrueClick() {
      this.mtrue = false;
    },
    shine() {
      //获取第一个投递记录
      let datas = gains(
        "/china-dashboard/bin-transactions?client_id=618cdc5897c1b41b10838392"
      );
      let dataOne = datas.data[0].data[0];
      window.localStorage.setItem(
        "binName",
        dataOne.bin_name + "--" + dataOne.date
      );
      // console.log("dataOne", dataOne);
    },
    estTable() {
      //创建发光体
      let bin_name1 = window.localStorage.getItem("binName").split("--")[0];
      let bin_name2 = window.localStorage.getItem("binName").split("--")[1];
      // window.localStorage.setItem("isBinDate", "none");
      // console.log("bin_name2", bin_name2);
      // console.log(window.localStorage.getItem("isBinDate"));

      if (bin_name2 !== window.localStorage.getItem("isBinDate")) {
        for (let i = 0; i < this.jiekou2.data.length; i++) {
          if (this.jiekou2.data[i].bin_name == bin_name1) {
            let longitude = this.jiekou2.data[i].longitude;
            let latitude = this.jiekou2.data[i].latitude;
            // console.log(longitude, latitude);
            let arr = [];
            let markerIs = new AMap.Marker({
              position: [longitude, latitude],
              icon: require("../../assets/images/ljt2.png")
            });
            arr.push(markerIs);
            // console.log("arr", arr);

            this.mapdast.add(arr);
            // console.log("创建成功");

            //创建成功，添加时间
            window.localStorage.setItem("isBinDate", bin_name2);
            var _this = this.mapdast;
            setTimeout(function() {
              _this.remove(markerIs);
              // alert("删除");
              // console.log("删除");
            }, 5000);
            break;
          }
        }
      } else {
        // console.log("不成功创建");
      }
    }
  },
  mounted: function() {
    this.start();
    this.shine();
    this.estTable();
    var _this = this;
    setInterval(function() {
      _this.shine();
      _this.estTable();
    }, 5000);
  }
};
</script>

