<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      body {
        background-color: rgb(19, 45, 77);
        overflow-y: hidden;
      }
      .biaoti {
        background-image: url("../src/assets/img/qt/btl.png");
        color: white;
        background-repeat: no-repeat;
        height: 30px;
        line-height: 30px;
        text-indent: 1em;
      }

      .d1 > div {
        border: 4px solid rgb(8, 130, 169);
        padding: 4px;
      }

      #div1box1 {
        position: absolute;
        width: 448px;
        height: 498px;
        top: 0;
        left: 0;
      }

      #div1box2 {
        position: absolute;
        width: 728px;
        height: 211px;
        top: 0;
        left: 476px;
      }

      #div1box3 {
        position: absolute;
        width: 728px;
        height: 259px;
        top: 239px;
        left: 476px;
      }

      #div1box4 {
        position: absolute;
        width: 560px;
        height: 211px;
        top: 0;
        left: 1231px;
      }

      #div1box5 {
        position: absolute;
        width: 560px;
        height: 259px;
        top: 239px;
        left: 1231px;
      }

      #div1box6 {
        position: absolute;
        width: 1792px;
        height: 280px;
        top: 520px;
        left: 0;
      }

      .el-progress__text {
        color: white;
      }

      .datacenter {
        width: 100%;
        height: 50px;
        position: fixed;
        top: 100px;
        left: 55px;
        z-index: 10;
        /* background-color: rgb(1, 10, 84); */
      }

      .datacenterbox {
        width: 1100px;
        margin: auto;
      }

      .datacenterbox2 {
        display: inline-flex;
      }

      .centerbth {
        margin-right: 50px;
      }

      .databox {
        width: 1800px;
        height: 1000px;
        position: relative;
        top: 150px;
        margin: auto;
      }

      .databoxdiv {
        position: relative;
      }

      .dudao1 {
      }

      .dudao2 {
        position: relative;
      }

      .dudao3 {
        color: white;
        width: 60px;
        height: 110px;
        margin-top: 20px;
      }

      .dudao4 {
        position: absolute;
        left: 100px;
        top: -15px;
        width: 160px;
        height: 140px;
      }

      .juzhong {
        position: fixed;
        top: calc(50% - 100px);
      }

      .jindu21 {
        width: 41%;
        margin-left: -16px;
        margin-right: 10px;
      }

      #container {
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      .dudao4 > div {
        margin-bottom: 5px;
      }

      .rightxj {
        width: 100%;
        height: 80px;
        display: inline-flex;
        text-align: center;
      }

      .rightxj1 {
        width: 50%;
      }

      .xjtext1 {
        color: rgb(3, 210, 240);
      }

      .xjtext2 {
        color: white;
        font-size: 30px;
      }

      .xjtext3 {
        color: yellow;
        font-size: 25px;
      }

      .spancolor {
        width: 20px;
        height: 20px;
        background-color: green;
        margin-right: 10px;
        position: absolute;
        top: 0;
        text-align: center;
        left: -30px;
      }

      .spancolor2 {
        position: absolute;
        top: 0;
        text-align: center;
        left: 0px;
        text-indent: 0;
      }
      .header1 {
        width: 100%;
        height: 100px;
      }

      .time {
        color: #fff;
        font-size: 16px;
        position: fixed;
        top: 5px;
        left: 10px;
      }

      .title {
        margin: auto;
        text-align: center;
        font-size: 38px;
        width: 800px;
        height: 100px;
        margin-top: 5px;
        color: white;
        font-weight: bold;
        letter-spacing: 5px;
      }

      * {
        padding: 0;
        margin: 0;
      }

      .icon {
        position: absolute;
        right: 0px;
        width: 50px;
        height: 100px;
        top: 5px;
      }

      .select {
        position: absolute;
        display: inline-flex;
        right: 190px;
        width: 120px;
        height: 40px;
        top: 5px;
      }

      .el-input--suffix .el-input__inner {
        background-color: rgba(0, 0, 0, 0);
      }

      .select2 {
        position: absolute;
        display: inline-flex;
        right: 60px;
        width: 120px;
        height: 40px;
        top: 5px;
      }

      .time2 {
        position: absolute;
        top: 60px;
        right: 10px;
      }

      .header2 {
        width: 100%;
        height: 100px;
      }

      .h2center {
        top: 100px;
        left: 0;
        width: 1450px;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: center;
      }

      .h2box1 {
        width: 260px;
        height: 80px;
        margin-right: 40px;
        position: relative;
      }

      .h2box2 {
        width: 150px;
        height: 80px;
        margin-right: 0px;
        position: relative;
      }

      .a1 {
        position: absolute;
        top: 30px;
        left: 0;
      }

      .a2 {
        position: absolute;
        top: 30px;
        left: 50px;
        text-align: center;
        color: white;
        font-size: 14px;
        font-weight: bold;
      }

      .a3 {
        position: absolute;
        top: 50px;
        left: 50px;
        font-size: 20px;
        color: rgb(3, 210, 240);
      }

      .b1 {
        position: absolute;
        top: 0;
        left: 0;
      }

      .b2 {
        position: absolute;
        top: 0;
        left: 80px;
        text-align: center;
        color: white;
        font-size: 14px;
        font-weight: bold;
      }

      .b3 {
        position: absolute;
        top: 30px;
        left: 80px;
        font-size: 35px;
        color: rgb(3, 210, 240);
        font-weight: bold;
      }

      .text1 {
        font-size: 12px;
        color: white;
      }

      .text2 {
        font-size: 12px;
        color: white;
      }

      .b4 {
        position: absolute;
        top: 30px;
        right: 0;
        font-size: 12px;
        color: white;
      }

      .b5 {
        position: absolute;
        top: 50px;
        right: 0;
        font-size: 14px;
        color: rgb(3, 210, 240);
        font-weight: bold;
      }

      .left {
        width: 350px;
        position: fixed;
        left: 50px;
        top: 200px;
        height: 700px;
        z-index: 6;
      }

      .right {
        width: 350px;
        position: fixed;
        right: -50px;
        top: 0px;
        height: 100%;
        color: white;
        z-index: 10;
        transform: scale(0.8, 0.8);
      }

      .text4 {
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: white;
      }

      .jindu {
        display: inline-flex;
        width: 100%;
        margin-top: 10px;
        color: white;
      }

      .jindu1 {
        width: 40%;
        position: relative;
        font-size: 12px;
        left: -30px;
        text-indent: 30px;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .jindu2 {
        width: 60%;
        margin-left: 10px;
        margin-right: 10px;
      }

      .jindu3 {
        width: 20%;
      }

      input {
        border: 0 !important;
      }

      .center1 {
        width: 100%;
        position: fixed;

        bottom: 10px;
        height: 120px;
        z-index: 6;
      }

      .centerbox {
        width: 730px;
        height: 120px;
        margin: auto;
        position: relative;
        left: 25px;
      }

      .centerbox > img {
        margin-right: 30px;
      }

      .mengban {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(29, 42, 84, 0.5);
        z-index: 13;
      }

      .mengbanbox {
        width: 1200px;
        height: 600px;
        left: calc(50% - 600px);
        top: calc(50% - 300px);
        position: fixed;
        z-index: 12;
      }

      .mleft {
        width: 400px;
        height: 500px;
        position: absolute;
        top: 68px;
        left: 0;
      }

      .mleft1 {
        color: rgb(240, 133, 25);
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
      }

      .mleft2 {
        margin-left: 85px;
        margin-bottom: 50px;
      }

      .mleft3 {
        color: white;
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
      }

      .textgreen {
        font-size: 25px;
        color: rgb(0, 155, 76);
      }

      .mcenter {
        width: 400px;
        height: 500px;
        position: absolute;
        top: 0;
        left: 380px;
      }

      .mright {
        width: 400px;
        height: 500px;
        position: absolute;
        top: 0;
        left: 800px;
      }

      .mbuttonbox {
        width: 500px;
        height: 100px;
        position: absolute;
        top: 545px;
        left: 400px;
        display: inline-flex;
      }

      .mbutton {
        width: 100px;
        height: 50px;
        border-radius: 20px;
        background-color: rgb(0, 162, 233);
        color: white;
        margin-right: 50px;
        border: 1px solid white;
        font-size: 18px;
        cursor: Pointer;
      }

      .mbuttontext {
        text-align: center;
        width: 100px;
        color: rgb(0, 162, 233);
        font-weight: bold;
      }

      .mheader {
        border-left: 5px solid rgb(3, 223, 252);
        height: 20px;
        text-indent: 0.5em;
        color: white;
        font-size: 18px;
        font-weight: bold;
      }

      .mbox2 {
        border: 3px solid lightgray;
        background-color: rgba(62, 70, 87, 0.5);
        padding: 5px;
        margin-top: 15px;
        color: white;
        position: relative;
        padding-left: 20px;
        letter-spacing: 3px;
      }

      .mbox3 {
        border: 3px solid lightgray;
        background-color: rgba(62, 70, 87, 0.5);
        padding: 5px;
        margin-top: 15px;

        color: white;
        position: relative;
      }

      .textblue {
        color: rgb(3, 210, 240);
      }

      .mbox2 > div {
        border-left: 5px solid rgb(3, 223, 252);
        margin-bottom: 10px;
        text-indent: 0.5em;
        margin-top: 10px;
      }

      .mbox2 > img {
        position: absolute;
        top: 25px;
        right: 20px;
        width: 100px;
      }

      #tubiao1 {
        width: 400px;
        height: 218px;
        position: relative;
        left: -5px;
        top: -40px;
      }

      #tubiao2 {
        width: 400px;
        height: 238px;
        left: -10px;
        top: -17px;
      }

      #tubiao3 {
        width: 400px;
        height: 218px;
        position: relative;
        left: -5px;
      }

      .laji {
        border-left: 0px solid white !important;
        display: inline-flex;
        width: 400px;
        height: 51px;
      }

      .laji1 {
        width: 200px !important;
        height: 50px;
        position: relative;
      }

      .laji2 {
        position: absolute;
        left: 10px;
        top: 0;
      }

      .laji3 {
        position: absolute;
        left: 60px;
        top: 0;
      }

      .laji4 {
        position: absolute;
        left: 60px;
        top: 20px;
      }

      .orange {
        color: rgb(240, 130, 25);
      }

      .green {
        color: rgb(0, 155, 76);
        text-align: right;
      }

      .right1 {
        width: 260px;
        line-height: 30px;
        font-weight: bold;
        margin: auto;
        margin-bottom: 27px;
      }

      .tubiaobox {
        width: 1400px;
        height: 600px;
        margin: auto;
        position: relative;
        top: calc(50% - 300px);
        /* left: 140px; */
        transform: scale(0.8, 0.8);
      }
      @media only screen and (max-width: 1600px) {
        .tubiaobox {
          transform: scale(0.7, 0.7);
        }
      }
      .mengban2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 900px;
        background-color: rgba(29, 42, 84, 0.5);
        z-index: 5;
        background-color: rgb(1, 10, 84);
        background-image: url("../img/qt/bj.jpg");
        background-size: 100% 100%;
      }

      .tleft {
        width: 600px;
        top: 34px;
      }

      .tleft1 {
        color: white;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: -20px;
      }
      .close {
        background-image: url(../img/qt/close.png);
        width: 32px;
        height: 32px;
        background-size: 32px;
        position: absolute;
        left: 1250px;
        top: -50px;
      }
      .tleft2 {
        margin-left: 0;
        width: 600px;
        margin-bottom: -100px;
      }

      .tleft3 {
      }

      .tcenter1 {
        left: 600px;
      }

      .tright1 {
        left: 1020px;
      }

      .jiazai {
        width: 100%;
        height: 100%;
        min-height: 1080px;
        z-index: 110;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(1, 10, 84);
      }
      .juzhong1 {
        position: fixed;
        top: calc(50% - 200px);
      }
      .juzhong2 {
        position: fixed;
        top: calc(50% - 290px);
      }
      .juzhongleft {
        position: fixed;
        top: calc(50% - 180px);
        width: 350px;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app">
      <div class="map"></div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
