<template>
  <div class="left">
    <h1 class="text4">全球用户积分排行榜</h1>
    <div style="height: 480px; overflow-y: scroll;" class="test-1">
      <div class="jindu" style="height: 30px;" v-for="(item,i) in leftarray" :key="i">
        <div class="jindu1">{{item.username}}</div>
        <div class="jindu2">
          <el-progress
            :text-inside="true"
            style="position: relative;top: 8px;"
            status="exception"
            :percentage="item.simorgh/20"
            :show-text="false"
          ></el-progress>
        </div>
        <div class="jindu3">{{item.simorgh}}分</div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.test-1::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 1px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.test-1::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
  background: rgb(0, 0, 0, 0);
}
.test-1::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background: rgb(0, 0, 0, 0);
}
</style>
<script>
import { gains, timeIs } from "../../api/parse";
// import { setInterval } from "timers";
export default {
  data() {
    return {
      leftarray: ""
    };
  },
  methods: {
    compare(property) {
      return function(a, b) {
        var value1 = a[property];
        var value2 = b[property];
        return value2 - value1;
      };
    }
  },
  mounted: function() {
    var _this = this;
    var datas = gains(
      "/china-dashboard/client-users-ranking?client_id=618cdc5897c1b41b10838392"
    );
    let datats = datas.data[0].data;
    _this.leftarray = datats.sort(_this.compare("simorgh"));
    // setInterval(function() {
    //   let datats = datas.data[0].data;
    //   _this.leftarray = datats.sort(_this.compare("simorgh"));
    // }, timeIs()); //60000
  }
};
</script>
