<template>
  <div class="main1">
    <div class="datacenter">
      <div class="datacenterbox">
        <div class="datacenterbox2" v-for="(val, i) in toparr" :key="i">
          <div @click="pagef(i)" v-if="page!=i+1" class="pagefbt">{{val}}</div>
          <div @click="pagef(i)" v-if="page==i+1" class="pagefbt2">{{val}}</div>
        </div>
      </div>
    </div>

    <!-- 组件 -->
    <Search31 v-show="search3==0"></Search31>
    <Search32 v-show="search3==1"></Search32>
    <Search33 v-show="search3==2"></Search33>
    <Search34 v-show="search3==3"></Search34>
    <Search35 v-show="search3==4"></Search35>
    <Search36 v-show="search3==5"></Search36>
    <Search37 v-show="search3==6"></Search37>
  </div>
</template>
<style scoped>
#tubiao1 {
  width: 100%;
  height: 320px;
}
.datacenterbox2 {
  font-size: 18px;
}
.page7div1 {
  position: absolute;
  top: 0;
  left: 0;
}
.page7div2 {
  position: absolute;
  top: 67px;
  left: 900px;
}
.page7div3 {
  position: absolute;
  top: 477px;
  left: 900px;
}
.page7div4 {
  position: absolute;
  top: 477px;
  left: 1250px;
}
.ab1 {
  position: absolute;
  top: 25px;
  left: 365px;
  color: white;
}
.ab2 {
  position: absolute;
  top: 25px;
  left: 465px;
  color: white;
}
.ab3 {
  position: absolute;
  top: 26px;
  left: 452px;
  width: 5px;
  height: 325px;
  background-color: rgb(49, 176, 247);
}
.weizhi1 {
  position: relative;
  left: 95px;
  top: 67px;
}
.imgweizhi {
  position: relative;
  left: 95px;
  top: 128px;
}
.biaoti2 {
  color: rgb(2, 215, 219);
  font-size: 16px;
  text-indent: 1em;
  font-weight: bold;
  border-left: 5px solid rgb(2, 215, 219);
}
body {
  overflow-x: hidden;
}
input {
  border: 0 !important;
}
.spanbox {
  display: flex;
  width: 300px;
  height: 85px;
  position: relative;
  top: 25px;
  left: 108px;
}
.page7div4 {
  color: white;
}
#tubiao2 {
  width: 100%;
  height: 230px;
}

#tubiao3 {
  width: 105%;
  height: 260px;
  position: relative;
  top: -15px;
  left: -2%;
}

.flex {
  display: inline-flex;
  width: 100%;
  text-align: center;
}

.flex > div {
  margin: 9px;
  margin-bottom: 5px;
}

.xjtext1 {
  color: rgb(0, 231, 240);
  font-size: 29px;
}

.xjtext3 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.cimg {
  height: 83px;
  position: relative;
  top: 10px;
  left: 20px;
}

.jindu2 {
  width: 60%;
}

.jindu {
  width: 50%;
}

.jleft {
  float: left;
}

.addjifen {
  float: left;
}

.btpm {
  display: inline-flex;
  width: 100%;
  font-size: 16px;
  color: orange;
  text-indent: 17px;
  margin-top: 10px;
  position: relative;
  top: 2px;
}
.databox2 {
  width: 1800px;
  height: 800px;
  position: relative;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}
.btpm > div {
  width: 50%;
}

.lefttable {
  width: 230px;
  height: 800px;
  background-color: rgb(16, 26, 87);
  color: white;
}

.lefttable1 {
  background-color: rgb(24, 37, 113);
  display: inline-flex;
  width: 100%;
  height: 45px;
  line-height: 45px;

  text-align: center;
}

.l1 {
  width: 60px;
  color: orange;
  font-size: 12px;
}

.l2 {
  width: 110px;
}

.l3 {
  width: 60px;
  font-size: 12px;
  color: orange;
}

.el-input__inner {
  color: white;
}

.lefttable2div {
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 3px solid rgb(24, 37, 113);
}

.centertable {
  width: 1200px;
  height: 800px;
  position: absolute;
  left: 240px;
  top: 0px;
  background-color: rgb(16, 26, 87);
}

.righttable {
  width: 350px;
  height: 800px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  background-color: rgb(16, 26, 87);
}
.el-table {
  color: white;
  background-color: rgb(16, 26, 87);
}
.el-table tr {
  background-color: rgb(16, 26, 87);
}
.el-table th {
  background-color: rgb(24, 40, 148);
}
.el-table__body tr:hover > td {
  background-color: rgb(24, 40, 148) !important;
}

.el-table thead {
  color: white;
  font-weight: 500;
}
.righttable {
  color: white;
}
.rightheader {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  text-indent: 1em;
}
.righttable1 {
  display: inline-flex;
  width: 100%;
}
.righttable2 {
  width: 25%;
  border: 1px solid rgb(24, 40, 148);
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.datacenter {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 95px;
  left: 50px;
  z-index: 10;
  background-color: rgb(1, 10, 84);
  padding-top: 25px;
}
.el-pager li {
  background-color: rgb(16, 26, 87);
  color: white;
}
.el-pagination button:disabled {
  color: white;
  background-color: rgb(16, 26, 87);
  cursor: not-allowed;
}
.el-pagination .btn-next,
.el-pagination .btn-prev {
  background-size: 16px;
  cursor: pointer;
  margin: 0;
  color: white;
  background-color: rgb(16, 26, 87);
}
.righttable3 {
  width: 75%;
  border: 1px solid rgb(24, 40, 148);
  text-align: left;
  padding-left: 6px;
  height: 40px;
  line-height: 40px;
}
.pagefbt {
  background-image: url("./images/p1.png");
  width: 107px;
  height: 36px;
  background-repeat: no-repeat;
  line-height: 36px;
  color: white;
  text-align: center;
  margin-right: 50px;
  cursor: pointer;
}
.pagefbt2 {
  background-image: url("./images/p2.png");
  width: 107px;
  height: 36px;
  background-repeat: no-repeat;
  line-height: 36px;
  color: white;
  text-align: center;
  margin-right: 50px;
  cursor: pointer;
}
.el-table {
  font-size: 16px;
}
@media only screen and (min-width: 0px) and (max-width: 1080px) {
  .databox2 {
    transform: translateX(-50%) scale(0.4, 0.4);

    /* 		left: -540px; */
    top: -80px;
  }
}
@media only screen and (min-width: 1080px) and (max-width: 1440px) {
  .databox2 {
    transform: translateX(-50%) scale(0.6, 0.6);

    /*      left: -360px; */
    top: 0px;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1800px) {
  .databox2 {
    transform: translateX(-50%) scale(0.8, 0.8);

    /*    left: -180px; */
    top: 80px;
  }
}
@media only screen and (max-height: 1000px) and (min-width: 1800px) {
  .databox2 {
    transform: translateX(-50%) scale(0.9, 0.9);
    top: 140px;
  }
}
@media only screen and (min-height: 1000px) and (min-width: 1800px) {
  .databox2 {
    transform: translateX(-50%) scale(1, 1);
    top: 200px;
  }
}
</style>

<script>
import Search31 from "../../components/Search31";
import Search32 from "../../components/Search32";
import Search33 from "../../components/Search33";
import Search34 from "../../components/Search34";
import Search35 from "../../components/Search35";
import Search36 from "../../components/Search36";
import Search37 from "../../components/Search37";

export default {
  name: "",
  components: {
    Search31: Search31,
    Search32: Search32,
    Search33: Search33,
    Search34: Search34,
    Search35: Search35,
    Search36: Search36,
    Search37: Search37
  },
  data() {
    return {
      page: 1,
      toparr: [
        "综合分析",
        "考勤记录",
        "投递记录",
        "综合评分",
        "督导反馈",
        "设备告警",
        "分析研判"
      ],
      search3: 0
    };
  },
  methods: {
    pagef(num) {
      this.page = num + 1;
      if (num == 0) {
        this.search3 = 0;
      }
      if (num == 1) {
        this.search3 = 1;
      }
      if (num == 2) {
        this.search3 = 2;
      }
      if (num == 3) {
        this.search3 = 3;
      }
      if (num == 4) {
        this.search3 = 4;
      }
      if (num == 5) {
        this.search3 = 5;
      }
      if (num == 6) {
        this.search3 = 6;
      }
      if (num == 7) {
        this.search3 = 7;
      }
    }
  }
};
</script>


