<template>
  <div class="databox2">
    <div class="righttable1">
      <div
        v-show="imgShow"
        style="
            max-height: 80%;
            position: absolute;
            top: 0px;
            left:50%;
            transform: translateX(-50%);
            z-index: 999;
            border: 15px solid rgb(29,153,203);
            border-radius: 20px;
            overflow-y: scroll;
            border-radius: 10px;
          "
      >
        <img @click="imgHide" :src="img_url" alt="#">
      </div>
    </div>
    <div class="databoxdiv">
      <div class="lefttable">
        <div class="lefttable1">
          <div class="l1">返回</div>
          <div class="l2">江干区项目组</div>
          <div class="l3">重置</div>
        </div>
        <div class="lefttable2">
          <div class="inputbox">
            <input type="text" class="leftinput" placeholder="请输入内容">
          </div>
          <!-- <div v-for="(item,i) in array4" class="lefttable2div" :key="i">xxxx街道</div> -->
        </div>
        <div class="lefttable3"></div>
      </div>
      <div class="centertable">
        <table class="table">
          <tr>
            <th>关注</th>
            <!-- <th>id</th> -->
            <th>电话</th>
            <th>条码</th>
            <th>评分</th>
            <th>反馈结果</th>
            <!-- <th>问题说明</th>
            <th>整改说明</th>-->
            <th>操作</th>
          </tr>
          <!-- ---------------------------------------- -->
          <tr v-for="(item, i) in page5tableData" :key="i" @click="lookClick(i)">
            <td>
              <img src="@/assets/images/w1.png" alt="#">
            </td>
            <!-- <td>{{item._id}}</td> -->
            <td>{{item.phone}}</td>
            <td>{{item.reported_barcode}}</td>
            <td>{{item.rating + 1}}</td>
            <td>{{item.comment}}</td>
            <!-- <td></td>
            <td></td>-->

            <td>
              <a href="#">查看</a>
              <a href="#">删除</a>
            </td>
          </tr>
        </table>
        <div class="block">
          <div class="btn1"></div>
          <span>1</span>
          <div class="btn2"></div>前往
          <input type="text" placeholder="1">
          页
        </div>
      </div>
      <div class="righttable">
        <div class="rightheader">详细信息</div>
        <div class="righttable1">
          <div class="righttable2">反馈编号</div>
          <div class="righttable3">{{feedback_id}}</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">创建人电话</div>
          <div class="righttable3">{{phone}}</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">创建时间</div>
          <div class="righttable3">{{created_at}}</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">问题信息</div>
          <div class="righttable3">{{comment}}</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">条码</div>
          <div class="righttable3">{{reported_barcode}}</div>
        </div>
        <div class="righttable1">
          <div class="righttable2" style="height: 140px;line-height: 140px;">问题照片</div>
          <div class="righttable3" style="height: 134px;padding-top: 6px;">
            <img
              @click="imgShows"
              :src="img_url"
              alt="#"
              style="width: 50%; height: 50%;  cursor: pointer;"
            >
          </div>
        </div>

        <!-- <div class="righttable1">
          <div class="righttable2">问题说明</div>
          <div class="righttable3">文本</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">整改人</div>
          <div class="righttable3">张某</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">整改时间</div>
          <div class="righttable3">2020</div>
        </div>
        <div class="righttable1">
          <div class="righttable2" style="height: 140px;line-height: 140px;">整改照片</div>
          <div class="righttable3" style="height: 134px;padding-top: 6px;">
            <img src="@/assets/images/tp1.png">
            <img src="@/assets/images/tp1.png">
            <img src="@/assets/images/tp1.png">
            <img src="@/assets/images/tp1.png">
          </div>
        </div>
        <div class="righttable1">
          <div class="righttable2" style="height: 120px;line-height: 120px;">整改说明</div>
          <div class="righttable3" style="height: 120px;">文本文本文本文本文本文本文本文本</div>
        </div>-->
      </div>
    </div>
  </div>
</template>

<style scoped>
.block {
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  padding: 5px;
  color: #606266;
}
.block input {
  width: 28px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  outline: none;
  color: #fff;
  transform: translateY(3px);
  font-size: 18px;
}
.block > span {
  color: #409eff;
}
.block > div {
  width: 20px;
  margin: 0 5px;
  cursor: pointer;
}
.block > div::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
}
.block > .btn1::before {
  transform: rotate(-45deg) translateY(8px);
}
.block > .btn2::before {
  transform: translateY(6px) translateX(5px) rotate(135deg);
}
.centertable {
  overflow: hidden;
  overflow-y: scroll;
}
.centertable > .table > tr:hover {
  background-color: rgb(24, 40, 148);
}
.centertable > .table {
  width: 100%;
  border-collapse: collapse;
}
.centertable > .table > tr {
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.centertable > .table > tr > th {
  background-color: rgb(24, 40, 148);
}
.centertable > .table > tr > th,
.centertable > .table > tr > td {
  border-bottom: 1px solid #ebeef5;
  padding: 15px 0;
}
.centertable > .table > tr > td {
  line-height: 25px;
  width: 7%;
  padding: 5px 5px;
}
.centertable > .table > tr > td > img {
  width: 40px;
  height: 40px;
}
.centertable > .table > tr > td > a {
  color: #fff;
  margin-left: 5px;
}
.leftinput {
  width: 100%;
  height: 54px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  outline: none;
  color: #fff;
  text-indent: 10px;
}
.inputbox {
  border-bottom: 3px solid rgb(24, 37, 113);
}
.databoxdiv {
  z-index: 100;
}

.lefttable {
  width: 230px;
  height: 800px;
  background-color: rgb(16, 26, 87);
  color: white;
}

.lefttable1 {
  background-color: rgb(24, 37, 113);
  display: inline-flex;
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

.l1 {
  width: 60px;
  color: orange;
  font-size: 12px;
}

.l2 {
  width: 110px;
}

.l3 {
  width: 60px;
  font-size: 12px;
  color: orange;
}

.el-input__inner {
  color: white;
}

.lefttable2div {
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 3px solid rgb(24, 37, 113);
}

.centertable {
  width: 1200px;
  height: 800px;
  position: absolute;
  left: 240px;
  top: 0px;
  background-color: rgb(16, 26, 87);
}

.righttable {
  width: 350px;
  height: 800px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  background-color: rgb(16, 26, 87);
}
.el-table {
  color: white;
  background-color: rgb(16, 26, 87);
}
.el-table tr {
  background-color: rgb(16, 26, 87);
}
.el-table th {
  background-color: rgb(24, 40, 148);
}
.el-table__body tr:hover > td {
  background-color: rgb(24, 40, 148) !important;
}

.el-table thead {
  color: white;
  font-weight: 500;
}
.righttable {
  color: white;
}
.rightheader {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  text-indent: 1em;
}
.righttable1 {
  display: inline-flex;
  width: 100%;
}
.righttable2 {
  width: 25%;
  border: 1px solid rgb(24, 40, 148);
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.datacenter {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 95px;
  left: 50px;
  z-index: 10;
  background-color: rgb(1, 10, 84);
  padding-top: 25px;
}
.el-pager li {
  background-color: rgb(16, 26, 87);
  color: white;
}
.el-pagination button:disabled {
  color: white;
  background-color: rgb(16, 26, 87);
  cursor: not-allowed;
}
.el-pagination .btn-next,
.el-pagination .btn-prev {
  background-size: 16px;
  cursor: pointer;
  margin: 0;
  color: white;
  background-color: rgb(16, 26, 87);
}
.righttable3 {
  width: 75%;
  border: 1px solid rgb(24, 40, 148);
  text-align: left;
  padding-left: 6px;
  height: 40px;
  line-height: 40px;
}

.el-table {
  font-size: 16px;
}
</style>

<script>
import { gains, timeIs } from "../../api/parse";
// import { setInterval } from "timers";
export default {
  data() {
    return {
      page5tableData: "",
      feedback_id: "",
      phone: "",
      created_at: "",
      comment: "",
      reported_barcode: "",
      img_url: "",
      imgShow: false
    };
  },
  methods: {
    feedback() {
      var sh = gains("/china-dashboard/bins-feedback");
      this.page5tableData = sh.data[0].data;
    },
    feedbackImg() {
      // console.log(this.page5tableData);
      this.feedback_id = this.page5tableData[0].feedback_id;
      this.phone = this.page5tableData[0].phone;
      this.created_at = this.page5tableData[0].created_at;
      this.comment = this.page5tableData[0].comment;
      this.reported_barcode = this.page5tableData[0].reported_barcode;
      this.img_url = this.page5tableData[0].image_url;
    },
    lookClick(index) {
      this.imgShow = false;
      this.feedback_id = this.page5tableData[index].feedback_id;
      this.phone = this.page5tableData[index].phone;
      this.created_at = this.page5tableData[index].created_at;
      this.comment = this.page5tableData[index].comment;
      this.reported_barcode = this.page5tableData[index].reported_barcode;
      this.img_url = this.page5tableData[index].image_url;
    },
    imgShows() {
      this.imgShow = true;
    },
    imgHide() {
      this.imgShow = false;
    }
  },
  mounted: function() {
    this.feedback();
    this.feedbackImg();
  }
};
</script>

