<template>
  <div class="main">
    <div class="right">
      <div class="juzhong2">
        <h1 class="text4" style="margin-bottom: 15px;position: relative;left: -44px;">宣讲综合评分</h1>
        <div class="rightxj" style="position: relative;left: -49px;">
          <div class="rightxj1">
            <div class="xjtext1">宣讲指数</div>
            <div class="xjtext2">86.8</div>
          </div>
          <div class="rightxj1">
            <div class="xjtext1">宣讲状态</div>
            <div class="xjtext3">中等</div>
          </div>
        </div>
        <h1 class="text4" style="position: relative;left: -44px;">优秀活动排名</h1>
        <div
          class="jindu"
          v-for="(item,i) in rightarray"
          style="position: relative;left: 15px;"
          :key="i"
        >
          <div class="jindu1" style="width: 65%;">
            <div v-show="i==0" style="background-color:rgb(239,55,89) ;" class="spancolor">{{i+1}}</div>
            <div v-show="i==1" style="background-color:rgb(228,0,130) ;" class="spancolor">{{i+1}}</div>
            <div v-show="i==2" style="background-color:rgb(176,75,130) ;" class="spancolor">{{i+1}}</div>
            <div v-show="i>2" style="background-color:rgb(24,150,254) ;" class="spancolor">{{i+1}}</div>
            {{item.name}}
          </div>
          <div class="jindu21">
            <el-progress
              v-show="i==0"
              :text-inside="true"
              style="position: relative;top: 8px;"
              :show-text="false"
              :percentage="item.num"
              color="rgb(239,55,89)"
              status="exception"
            ></el-progress>

            <el-progress
              v-show="i==1"
              :text-inside="true"
              style="position: relative;top: 8px;"
              :percentage="item.num"
              :show-text="false"
              color="rgb(228,0,130)"
              status="exception"
            ></el-progress>
            <el-progress
              v-show="i==2"
              :text-inside="true"
              style="position: relative;top: 8px;"
              :percentage="item.num"
              :show-text="false"
              color="rgb(176,75,130)"
              status="exception"
            ></el-progress>
            <el-progress
              v-show="i>2"
              :text-inside="true"
              style="position: relative;top: 8px;"
              :percentage="item.num"
              :show-text="false"
              color="rgb(24,150,254)"
              status="exception"
            ></el-progress>
          </div>
          <div class="jindu3">{{item.num}}</div>
        </div>
        <div class="dudao1" style="margin-top: 30px;">
          <div class="dudao2">
            <div class="dudao3">
              <el-progress :width="70" type="circle" :percentage="75"></el-progress>
            </div>
            <div class="dudao4">
              <div style="color: rgb(3, 210, 240);">督导宣讲参与度</div>
              <div>督导参与活动:181人</div>
              <div>督导参与次数:181次</div>
            </div>
          </div>
          <div class="dudao2">
            <div class="dudao3">
              <el-progress :width="70" type="circle" :percentage="75"></el-progress>
            </div>
            <div class="dudao4">
              <div style="color: rgb(3, 210, 240);">居民宣讲满意度</div>
              <div>宣讲满意次数:181人</div>
              <div>满意度调研数:181次</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="left" v-show="leftSearch1==2">
      <div class="juzhong">
        <img
          @click="tubiaochange(0)"
          style=" position: relative;left: -50px;"
          v-show="tubiaotrue==1"
          src="@/assets/images/qj1.png"
        >
        <div style="margin-top:10px ;">
          <div style="margin-top:10px ;"></div>
          <img @click="tubiaochange(1)" v-show="tubiaotrue==1" src="@/assets/images/xj2.png">
        </div>
      </div>
      <div class="juzhong">
        <img @click="tubiaochange(0)" v-show="tubiaotrue==0" src="@/assets/images/qj2.png">
        <div>
          <div style="margin-top:10px ;"></div>
          <img
            @click="tubiaochange(1)"
            style="position: relative;left: -50px;"
            src="@/assets/images/xj.png"
            v-show="tubiaotrue==0"
          >
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
</style>


<script>
export default {
  data() {
    return {
      tubiaotrue: 1,
      leftSearch1: 2,
      rightarray: [
        {
          name: "天湖府邸小区宣传日活动",
          num: 99
        },
        {
          name: "武夷花园党日活动",
          num: 98
        },
        {
          name: "梁江社区||星丰社区月度宣传活动",
          num: 97
        },
        {
          name: "大通社区||上源闸社区月度宣传活动",
          num: 96
        },
        {
          name: "垃圾分类，让世界更文明",
          num: 95
        },
        {
          name: "周末社区外展计划",
          num: 94
        },
        {
          name: "十二小时内的垃圾分类",
          num: 93
        },
        {
          name: "每月促销活动",
          num: 92
        },
        {
          name: "九佛街宣传日活动",
          num: 91
        }
      ]
    };
  },
  methods: {
    tubiaochange(num) {
      if (num == 0) {
        //点击上面的
        this.tubiaotrue = 1;
      } else {
        //点击下面的
        this.tubiaotrue = 0;
        this.$router.push("/bottomt");
      }
    }
  }
};
</script>
