<template>
  <div class="databox2">
    <div class="databoxdiv d1">
      <div id="div1box1">
        <div class="biaoti">分类情况分析</div>
        <div id="tubiao1"></div>
        <div class="flex">
          <div class="rightxj1">
            <div class="xjtext1">56%</div>
            <div class="xjtext3">考勤评分</div>
          </div>
          <div class="rightxj1">
            <div class="xjtext1">76%</div>
            <div class="xjtext3">投递评分</div>
          </div>
          <div class="rightxj1">
            <div class="xjtext1">86%</div>
            <div class="xjtext3">综合评分</div>
          </div>
        </div>
        <div class="flex">
          <div class="rightxj1">
            <div class="xjtext1">96%</div>
            <div class="xjtext3">督导评分</div>
          </div>
          <div class="rightxj1">
            <div class="xjtext1">46%</div>
            <div class="xjtext3">设备评分</div>
          </div>
          <div class="rightxj1"></div>
        </div>
      </div>
      <div id="div1box2">
        <div class="biaoti">用户分类情况</div>
        <div class="flex" style="margin-top: 40px;margin-left: 5px;">
          <div></div>
          <img class="cimg" src="@/assets/images/icon1.png">
          <div class="rightxj1">
            <div class="xjtext1" style="margin: 5px;">98%</div>
            <div class="xjtext3">用户参与度</div>
          </div>
          <img class="cimg" src="@/assets/images/icon2.png">
          <div class="rightxj1">
            <div class="xjtext1" style="margin: 5px;">100%</div>
            <div class="xjtext3">宣讲知晓度</div>
          </div>
          <img class="cimg" src="@/assets/images/icon3.png">
          <div class="rightxj1">
            <div class="xjtext1" style="margin: 5px;">90%</div>
            <div class="xjtext3">分类准确度</div>
          </div>
          <div></div>
        </div>
      </div>
      <div id="div1box3">
        <div class="biaoti">垃圾桶会员数</div>
        <div id="tubiao2"></div>
      </div>
      <div id="div1box4">
        <div class="biaoti">寻禽记排名</div>
        <div style="display: flex; ">
          <div style="width: 49%;height: 250px;margin-left: 20px;margin-top: 10px;">
            <div class="jindu jleft" style="width: 100%;" v-for="(item,i) in array4" :key="i">
              <div class="jindu1">{{item.username}}</div>
              <div class="jindu2">
                <el-progress
                  color="rgb(255,140,57)"
                  :text-inside="true"
                  style="position: relative;top: 8px;"
                  :percentage="parseInt(item.simorgh/20)"
                  :show-text="false"
                ></el-progress>
              </div>
              <div class="jindu3">{{item.num}}</div>
            </div>
          </div>
          <div style="width: 49%;height: 250px;margin-left: 20px;margin-top: 10px;">
            <div class="jindu jleft" style="width: 100%;" v-for="(item,i) in array5" :key="i">
              <div class="jindu1">{{item.username}}</div>
              <div class="jindu2">
                <el-progress
                  color="rgb(255,140,57)"
                  :text-inside="true"
                  style="position: relative;top: 8px;"
                  :percentage="parseInt(item.simorgh/20)"
                  :show-text="false"
                ></el-progress>
              </div>
              <div class="jindu3">{{item.num}}</div>
            </div>
          </div>
        </div>
      </div>
      <div id="div1box5">
        <div class="biaoti">积分情况排名</div>
        <div class="btpm">
          <div>累计积分排名</div>
          <div>新增积分排名</div>
        </div>
        <div
          class="jindu"
          style="position: relative;left: 17px;"
          v-for="(item,i) in array6"
          :key="i"
        >
          <div class="jindu1" v-if="i < 12">{{item.username}}</div>
          <div class="jindu2">
            <el-progress
              v-if="i<12"
              :text-inside="true"
              style="position: relative;top: 8px;"
              status="exception"
              :percentage="item.simorgh/8"
              :show-text="false"
            ></el-progress>
          </div>
          <div class="jindu3">{{item.num}}</div>
        </div>
      </div>

      <div id="div1box6">
        <div class="biaoti">抽查次数分析</div>
        <div id="tubiao3"></div>
      </div>
    </div>
  </div>
</template>
<style scoped>
#tubiao1 {
  margin-left: 20px;
}
.databox2 {
  z-index: 100;
}
#tubiao2 {
  width: 100%;
}
#tubiao2 > div {
  width: 100%;
}
#tubiao3 {
  width: 100%;
}
#tubiao3 > div {
  width: 100%;
}

.flex {
  display: inline-flex;
  width: 100%;
  text-align: center;
}
.flex > div {
  margin: 9px;
  margin-bottom: 5px;
}
.xjtext1 {
  color: rgb(0, 231, 240);
  font-size: 29px;
}

.xjtext3 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.biaoti {
  background-image: url("./images/btl.png");
  color: white;
  background-repeat: no-repeat;
  height: 30px;
  line-height: 30px;
  text-indent: 1em;
}
.cimg {
  height: 83px;
  position: relative;
  top: 10px;
  left: 20px;
}
.biaoti2 {
  color: rgb(2, 215, 219);
  font-size: 16px;
  text-indent: 1em;
  font-weight: bold;
  border-left: 5px solid rgb(2, 215, 219);
}
.jindu2 {
  width: 60%;
}

.jindu {
  width: 50%;
}

.jleft {
  float: left;
}

.btpm {
  display: inline-flex;
  width: 100%;
  font-size: 16px;
  color: orange;
  text-indent: 17px;
  margin-top: 10px;
  position: relative;
  top: 2px;
}
.btpm > div {
  width: 50%;
}
/* div1box2图表1 下移 */
#tubiao1 {
  width: 420px;
  margin-top: 50px;
}
</style>
<script>
import Echarts from "../../assets/js/echarts.all";
import { gains } from "../../api/parse";
export default {
  data() {
    return {
      array4: "",
      array5: "",
      array6: ""
    };
  },
  methods: {
    tubiao1() {
      var dom = document.getElementById("tubiao1");
      var myChart = Echarts.init(dom);
      var app = {};
      var option = null;
      option = {
        color: [
          "rgb(49,140,222)",
          "rgb(255,140,57)",
          "rgb(255,198,0)",
          "rgb(0,231,140)",
          "rgb(234,94,99)"
        ],
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        textStyle: {
          color: "white" //显示字体粗细等
        },
        legend: {
          bottom: 0,
          left: "center",
          textStyle: {
            color: "white"
          },
          data: ["一分", "二分", "三分", "四分", "五分"]
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        series: [
          {
            name: "访问来源",
            type: "pie",
            radius: "50%",
            data: [
              {
                value: 1048,
                name: "五分"
              },
              {
                value: 735,
                name: "四分"
              },
              {
                value: 484,
                name: "三分"
              },
              {
                value: 300,
                name: "二分"
              },
              {
                value: 184,
                name: "一分"
              }
            ],
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: "rgba(0, 0, 0, 0.5)"
              }
            }
          }
        ]
      };
      if (option && typeof option === "object") {
        myChart.setOption(option, true);
      }
    },
    tubiao2() {
      var dom = document.getElementById("tubiao2");
      var myChart = Echarts.init(dom);
      var app = {};
      var option = null;
      option = {
        textStyle: {
          color: "white" //显示字体粗细等
        },
        tooltip: {
          trigger: "axis"
        },
        legend: {
          left: 200,
          data: [
            "一号垃圾桶",
            "二号垃圾桶",
            "三号垃圾桶",
            "四号垃圾桶",
            "五号垃圾桶"
          ],
          textStyle: {
            color: "white"
          }
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        toolbox: {
          feature: {
            saveAsImage: {}
          }
        },
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"]
        },
        yAxis: [
          {
            name: "会员数",
            type: "value"
          }
        ],
        series: [
          {
            name: "一号垃圾桶",
            type: "line",
            stack: "总量",
            data: [120, 132, 101, 134, 90, 230, 210]
          },
          {
            name: "二号垃圾桶",
            type: "line",
            stack: "总量",
            data: [220, 182, 191, 234, 290, 330, 310]
          },
          {
            name: "三号垃圾桶",
            type: "line",
            stack: "总量",
            data: [150, 232, 201, 154, 190, 330, 410]
          },
          {
            name: "四号垃圾桶",
            type: "line",
            stack: "总量",
            data: [320, 332, 301, 334, 390, 330, 320]
          },
          {
            name: "五号垃圾桶",
            type: "line",
            stack: "总量",
            data: [820, 932, 901, 934, 1290, 1330, 1320]
          }
        ]
      };
      if (option && typeof option === "object") {
        myChart.setOption(option, true);
      }
    },
    tubiao3() {
      var dom = document.getElementById("tubiao3");
      var myChart = Echarts.init(dom);
      var app = {};
      var option = null;
      option = {
        color: ["rgb(255,140,57)"],
        tooltip: {
          trigger: "axis",
          axisPointer: {
            // 坐标轴指示器，坐标轴触发有效
            type: "shadow" // 默认为直线，可选为：'line' | 'shadow'
          }
        },
        textStyle: {
          color: "white" //显示字体粗细等
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        xAxis: [
          {
            type: "category",
            data: [
              "001号垃圾桶",
              "002号垃圾桶",
              "003号垃圾桶",
              "004号垃圾桶",
              "005号垃圾桶",
              "006号垃圾桶",
              "007号垃圾桶",
              "008号垃圾桶",
              "009号垃圾桶",
              "010号垃圾桶",
              "011号垃圾桶",
              "012号垃圾桶",
              "013号垃圾桶",
              "014号垃圾桶",
              "015号垃圾桶"
            ],
            axisTick: {
              alignWithLabel: true
            }
          }
        ],
        yAxis: [
          {
            name: "次数",
            type: "value"
          }
        ],
        series: [
          {
            name: "工作次数",
            type: "bar",
            barWidth: "60%",
            data: [
              10,
              52,
              200,
              334,
              390,
              330,
              220,
              332,
              123,
              632,
              66,
              44,
              22,
              432,
              343,
              567,
              23,
              44,
              55,
              234,
              64,
              75,
              44,
              55,
              234,
              64,
              75,
              44,
              55,
              234,
              64,
              75,
              23,
              44,
              55,
              234,
              64
            ],
            itemStyle: {
              normal: {
                label: {
                  show: true, //开启显示
                  position: "top", //在上方显示
                  textStyle: {
                    //数值样式
                    color: "white",
                    fontSize: 16
                  }
                }
              }
            }
          }
        ]
      };
      if (option && typeof option === "object") {
        myChart.setOption(option, true);
      }
    },
    compare(property) {
      return function(a, b) {
        var value1 = a[property];
        var value2 = b[property];
        return value2 - value1;
      };
    }
  },
  mounted: function() {
    this.tubiao1();
    this.tubiao2();
    this.tubiao3();

    var datas = gains(
      "/china-dashboard/client-users-ranking?client_id=618cdc5897c1b41b10838392"
    );
    let datats = datas.data[0].data;
    this.array6 = datats.sort(this.compare("simorgh"));
    var arr1 = [];
    for (var i = 0; i < 5; i++) {
      arr1.push(datats.sort(this.compare("simorgh"))[i]);
    }
    var arr2 = [];
    this.array4 = arr1;
    for (var i = 5; i < 10; i++) {
      arr2.push(datats.sort(this.compare("simorgh"))[i]);
    }
    this.array5 = arr2;
  }
};
</script>