<template>
  <div class="Header top" id="app">
    <!-- 注册header组件 -->
    <div class="header1">
      <div class="time">{{time}}</div>
      <div class="time2">
        <el-date-picker v-model="value1" type="date" placeholder="选择日期"></el-date-picker>
      </div>
      <div class="title" @click="goHome">{{bigTitle}}</div>
      <div class="select">
        <el-select v-model="value" placeholder="更新期限">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </div>
      <!-- <div class="select2">
        <el-select v-model="value" placeholder="选择地区">
          <el-option
            v-for="item in options2"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </div>-->

      <div class="icon">
        <el-avatar icon="el-icon-user-solid"></el-avatar>
      </div>
      <!-- <router-link to="/login" class="icon">
        <el-avatar icon="el-icon-user-solid"></el-avatar>
      </router-link>-->
    </div>
    <div class="header2">
      <div class="h2center" v-show="$route.path=='/search2'||$route.path=='/bottomt'">
        <div class="h2box1">
          <div class="b1">
            <img src="@/assets/images/i1.png">
          </div>
          <div class="b2">居民宣讲参与数</div>
          <div class="b3">
            1751
            <span class="text1">人</span>
          </div>
          <!-- <div class="b4">新增居民</div>
          <div class="b5">
            74
            <span class="text2"></span>
          </div>-->
        </div>
        <div class="h2box1">
          <div class="b1">
            <img src="@/assets/images/i2.png">
          </div>
          <div class="b2">居民宣讲参与率</div>
          <div class="b3">
            20
            <span class="text1">%</span>
          </div>
          <!-- <div class="b4">同期相比</div>
          <div class="b5">
            47
            <span class="text2">%</span>
          </div>-->
        </div>
        <div class="h2box1">
          <div class="b1">
            <img src="@/assets/images/i3.png">
          </div>
          <div class="b2">分类宣讲覆盖率</div>
          <div class="b3">
            20
            <span class="text1">%</span>
          </div>
          <!-- <div class="b4">同期相比</div>
          <div class="b5">
            47
            <span class="text2">%</span>
          </div>-->
        </div>
        <div class="h2box2">
          <div class="a1">
            <img src="@/assets/images/i4.png">
          </div>
          <div class="a2">用户总数</div>
          <div class="a3">
            {{total_user}}
            <span class="text2">人</span>
          </div>
        </div>
        <div class="h2box2">
          <div class="a1">
            <img src="@/assets/images/i5.png">
          </div>
          <div class="a2">总网点数</div>
          <div class="a3">
            {{net}}
            <span class="text2">个</span>
          </div>
        </div>
        <div class="h2box2">
          <div class="a1">
            <img src="@/assets/images/i6.png">
          </div>
          <div class="a2">总投放次数</div>
          <div class="a3">
            {{count}}
            <span class="text2">次</span>
          </div>
        </div>
      </div>

      <div
        class="h2center"
        v-show="$route.path=='/bottom'||$route.path=='/home'||$route.path=='/search1'"
      >
        <div class="h2box1" style="width:220px ;">
          <div class="b1">
            <img src="@/assets/images/i1.png">
          </div>
          <div class="b2">总计积分</div>
          <div class="b3">
            {{totali}}
            <span class="text1">万分</span>
          </div>
          <!-- <div class="b4">同期相比</div>
          <div class="b5">
            74
            <span class="text2">%</span>
          </div>-->
        </div>
        <div class="h2box1" style="width:220px ;">
          <div class="b1">
            <img src="@/assets/images/i2.png">
          </div>
          <div class="b2">减排量</div>
          <div class="b3">
            {{emsission_reduction}}
            <span class="text1">万吨</span>
          </div>
          <!-- <div class="b4">占总目标</div>
          <div class="b5">
            47
            <span class="text2">%</span>
          </div>-->
        </div>
        <div class="h2box2">
          <div class="a1">
            <img src="@/assets/images/i4.png">
          </div>
          <div class="a2">用户总数</div>
          <div class="a3">
            {{total_user}}
            <span class="text2">人</span>
          </div>
        </div>
        <div class="h2box2">
          <div class="a1">
            <img src="@/assets/images/i5.png">
          </div>
          <div class="a2">总网点数</div>
          <div class="a3">
            {{net}}
            <span class="text2">个</span>
          </div>
        </div>
        <div class="h2box2">
          <div class="a1">
            <img src="@/assets/images/i6.png">
          </div>
          <div class="a2">总投放次数</div>
          <div class="a3">
            {{count}}
            <span class="text2">次</span>
          </div>
        </div>
        <div class="h2box2">
          <div class="a1">
            <img src="@/assets/images/i7.png">
          </div>
          <div class="a2">已兑换积分数</div>
          <div class="a3">
            {{countnum}}
            <span class="text2">万分</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.select {
  right: 60px;
}
.Header {
  width: 100%;
  height: 200px;
  /* background-image: url("./img/qt/db.png"); */
  background-image: url("./images/db.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 6;
}
</style>
<script>
// import { setInterval } from "timers";
import { gains, logoShow } from "../../api/parse";
export default {
  name: "top",
  data() {
    return {
      time: "",
      value: "",
      mtrue: false, //蒙版开关
      tubiaotrue: false,
      value1: "",
      options: [
        {
          value: "选项1",
          label: "年度更新"
        },
        {
          value: "选项2",
          label: "月度更新"
        },
        {
          value: "选项3",
          label: "日度更新"
        }
      ],

      title: "",
      jiekou1: "",
      emsission_reduction: "", //减排量
      countnum: "", //总兑换数
      total_user: "", //用户总数
      count: "", //总投放数
      totali: 0, //总计积分
      net: "", //总网点数
      bigTitle: ""
    };
  },

  methods: {
    gettime() {
      var vWeek;
      vWeek = [
        "星期天",
        "星期一",
        "星期二",
        "星期三",
        "星期四",
        "星期五",
        "星期六"
      ];

      setInterval(() => {
        let date = new Date();
        let year = date.getFullYear();
        let month = date.getMonth() + 1;
        let day = date.getDate();
        let hours = date.getHours();
        let minutes = date.getMinutes();
        let seconds = date.getSeconds();
        let vweek = date.getDay();

        if (minutes < 10) {
          minutes = "0" + minutes;
        }

        if (seconds < 10) {
          seconds = "0" + seconds;
        }
        var time =
          year +
          "/" +
          month +
          "/" +
          day +
          "\t" +
          vWeek[vweek] +
          "\t" +
          hours +
          ":" +
          minutes +
          ":" +
          seconds;
        this.time = time;
      }, 1000);
    },
    goHome() {
      this.$router.push("/home");
    },
    database() {
      let data = gains("/china-dashboard/get-users-list");
      //用户总数
      this.total_user = data.data[0].total_users;
      //减排量
      let emsission = this.datatreta(data.data[0].emission_reduction);
      //总兑换数
      let countnum = this.datatreta(data.data[0].number_of_points_redeemed);
      this.emsission_reduction = emsission;
      this.countnum = countnum;
      //总计积分
      let conts = 0;
      for (var i = 0; i < data.data[0].users.length; i++) {
        conts += data.data[0].users[i].accumulated_co2;
      }
      this.totali = this.datatreta(conts);
      //总网点数
      var nets = gains("/china-dashboard/get-bins-list");
      var netcount = 0;
      for (let i = 0; i < nets.data.length; i++) {
        if (
          nets.data[i].longitude >= 73.33 &&
          nets.data[i].longitude <= 135.05 &&
          nets.data[i].latitude >= 3.51 &&
          nets.data[i].latitude <= 53.33
        ) {
          netcount++;
        }
      }
      this.net = netcount;
    },
    datatreta(num) {
      let newNum = (num + "").split(".");
      if (newNum[0].length == 5) {
        return newNum[0][0] + "." + newNum[1][0];
      }
      if (newNum[0].length == 6) {
        return newNum[0][0] + newNum[0][1] + "." + newNum[1][0];
      }
      if (newNum[0].length == 7) {
        return newNum[0][0] + newNum[0][1] + newNum[0][2] + "." + newNum[1][0];
      }
      if (newNum[0].length == 8) {
        return (
          newNum[0][0] +
          newNum[0][1] +
          newNum[0][2] +
          newNum[0][3] +
          "." +
          newNum[1][0]
        );
      }
    },
    bigShow() {
      this.bigTitle = logoShow().yaohai.title;
      // console.log(logoShow());
    }
  },
  mounted: function() {
    let counts = gains(
      "/china-dashboard/bin-transactions?client_id=618cdc5897c1b41b10838392"
    );
    this.count = counts.data[0].total_count;
    this.gettime();
    this.database();
    this.bigShow();
  }
};
</script>





