<template>
  <div class="main">
    <div class="right">
      <div class="juzhong1 test-1">
        <h1 class="text4" style="margin-bottom: 35px;">垃圾实时投放数据</h1>
        <div style="height: 500px; overflow: hidden; overflow-y: auto;" class="test-1">
          <div class="right1" v-for="(item, i) in page3tableData" :key="i">
            <div>
              {{item.username}}:在
              <span class="orange">{{item.bin_name}}</span>
              <span>上投放了:{{datapro(item.data)}} &nbsp;</span>
              <br>
              <span style="color: rgb(0,155,76);">时间: {{datatimes(item.date)}}</span>
            </div>
            <div class="green"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="left" v-show="leftSearch1==1">
      <div class="juzhong">
        <img
          @click="tubiaochange(0)"
          style=" position: relative;left: -50px;"
          v-show="tubiaotrue==1"
          src="@/assets/images/qj1.png"
        >
        <div style="margin-top:10px ;">
          <div style="margin-top:10px ;"></div>
          <img @click="tubiaochange(1)" v-show="tubiaotrue==1" src="@/assets/images/xj2.png">
        </div>
      </div>
      <div class="juzhong">
        <img @click="tubiaochange(0)" v-show="tubiaotrue==0" src="@/assets/images/qj2.png">
        <div>
          <div style="margin-top:10px ;"></div>
          <img
            @click="tubiaochange(1)"
            style="position: relative;left: -50px;"
            src="@/assets/images/xj.png"
            v-show="tubiaotrue==0"
          >
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.test-1::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 1px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.test-1::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
  background: rgb(0, 0, 0, 0);
}
.test-1::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background: rgb(0, 0, 0, 0);
}
</style>


<script>
import $ from "../../assets/js/jquery";
import { gains, timeIs } from "../../api/parse";
// import { setInterval } from "timers";
export default {
  data() {
    return {
      tubiaotrue: 1,
      leftSearch1: 1,
      page3tableData: ""
    };
  },
  methods: {
    tubiaochange(num) {
      if (num == 0) {
        //点击上面的
        this.tubiaotrue = 1;
      } else {
        //点击下面的
        this.tubiaotrue = 0;
        this.$router.push("/bottom");
      }
    },
    isData() {
      let datas = gains(
        "/china-dashboard/bin-transactions?client_id=618cdc5897c1b41b10838392"
      );
      this.page3tableData = datas.data[0].data;
      return datas.data[0].data;
    },
    datapro(num) {
      return "垃圾";
    },
    datatimes(times) {
      let time = times.split("T");
      let second = time[1].split(".")[0].split(":");
      let hours = Number(second[0]) + 8;

      if (hours <= 24) {
        hours = hours;
      } else {
        hours = hours - 24;
      }

      return time[0] + " " + (hours + ":" + second[1] + ":" + second[2]);
    }
  },
  mounted: function() {
    this.isData();
    var _this = this;
    // setInterval(function() {
    //   _this.isData();
    // }, timeIs());
  }
};
</script>
