<template>
  <div class="center1" style="bottom: 50px;">
    <div class="centerbox">
      <router-link to="/home">
        <img v-if="htmlpagedata ==1" src="@/assets/images/sj.png">
        <img @click="qiehuan(1)" v-else src="@/assets/images/sj1.png">
      </router-link>
      <router-link to="/search1">
        <img v-if="htmlpagedata ==2" src="@/assets/images/dc.png">
        <img @click="qiehuan(2)" v-else src="@/assets/images/dc1.png">
      </router-link>
      <router-link to="/search2">
        <img v-if="htmlpagedata ==3" src="@/assets/images/xjts.png">
        <img @click="qiehuan(3)" v-else src="@/assets/images/xjts1.png">
      </router-link>
      <router-link to="/search3">
        <img v-if="htmlpagedata ==4" src="@/assets/images/sjjd1.png">
        <img @click="qiehuan(4)" v-else src="@/assets/images/sjjd1.png">
      </router-link>
      <!-- <img src="./img/qt/sj.png" @click="goTop" alt>
      <img src="./img/qt/dc.png" @click="goTop" alt>
      <img src="./img/qt/xjts.png" @click="goTop" alt>
      <img src="./img/qt/sjjd1.png" @click="goTop" alt>-->
    </div>
  </div>
</template>
<script>
export default {
  name: "center1",
  data() {
    return {
      htmlpagedata: 1
    };
  },
  methods: {
    goTop() {},
    qiehuan(num) {
      if (num == 1) {
        this.htmlpagedata = 1;
      }
      if (num == 2) {
        this.htmlpagedata = 2;
      }
      if (num == 3) {
        this.htmlpagedata = 3;
      }
      if (num == 4) {
        this.htmlpagedata = 4;
      }
    }
  }
};
</script>

