<template>
  <div class="main">
    <div class="left" v-show="leftSearch1==1">
      <div class="juzhong">
        <img
          @click="tubiaochange(0)"
          style=" position: relative;left: -50px;"
          v-show="tubiaotrue==1"
          src="@/assets/images/qj1.png"
        >
        <div style="margin-top:10px ;">
          <div style="margin-top:10px ;"></div>
          <img @click="tubiaochange(1)" v-show="tubiaotrue==1" src="@/assets/images/xj2.png">
        </div>
      </div>
      <div class="juzhong">
        <img @click="tubiaochange(0)" v-show="tubiaotrue==0" src="@/assets/images/qj2.png">
        <div>
          <div style="margin-top:10px ;"></div>
          <img
            @click="tubiaochange(1)"
            style="position: relative;left: -50px;"
            src="@/assets/images/xj.png"
            v-show="tubiaotrue==0"
          >
        </div>
      </div>
    </div>
    <div class="center">
      <div class="mengban2">
        <div class="tubiaobox" style="margin-top: 30px;">
          <div class="mleft tleft">
            <div class="mleft1 tleft1">{{titleH2}}</div>
            <img class="mleft2 tleft2" src="@/assets/images/dcqk.png">
            <div class="mleft3 tleft3">
              整体dcqk:
              <span class="textgreen">优</span>
            </div>
          </div>
          <div class="mcenter tcenter1">
            <div class="mheader">垃圾分类宣讲动态</div>
            <div class="mbox2">
              <div style="font-weight: bold;">
                本月活动数:
                <span class="textblue">100</span>次
              </div>
              <div style="font-weight: bold;">
                参与人员:
                <span class="textblue">95</span>人
              </div>
              <div style="font-weight: bold;">
                宣讲次数:
                <span class="textblue">95</span>次
              </div>
              <div>
                当日入户宣讲次数:
                <span class="textblue">24</span>(次)
              </div>
              <div>
                当日新增参与用户:
                <span class="textblue">24</span>(人)
              </div>
              <div>
                当日活动上报数:
                <span class="textblue">24</span>(件)
              </div>
              <div>
                当日党员宣讲次数:
                <span class="textblue" style="color: red;">4</span>(次)
              </div>
              <!-- <img src="img/qt/tx.jpg" /> -->
            </div>

            <div class="mheader" style="margin-top: 30px;">本周宣讲人次统计</div>
            <div class="mbox3">
              <div id="tubiao3"></div>
            </div>
          </div>
          <div class="mright tright1">
            <div class="mheader">社区分类点信息</div>
            <div class="mbox2" style="padding-bottom: 27px;">
              <div
                class="mheader"
                style="margin-top: 10px;margin-bottom: 0;font-size: 16px;"
              >宣讲员综合评分排名</div>
              <div
                class="jindu"
                style="border-left: 0!important;margin-bottom: 0px;"
                v-for="(item,i) in page2tubiao"
                :key="item"
              >
                <div class="jindu1" style="width: 45%;margin-left: 30px;">
                  <div v-show="i==0" style="color:rgb(239,55,89) ;" class="spancolor2">{{i+1}}</div>
                  <div v-show="i==1" style="color:rgb(228,0,130) ;" class="spancolor2">{{i+1}}</div>
                  <div v-show="i==2" style="color:rgb(176,75,130) ;" class="spancolor2">{{i+1}}</div>
                  <div v-show="i>2" style="color:rgb(24,150,254) ;" class="spancolor2">{{i+1}}</div>
                  {{item.name}}
                </div>
                <div class="jindu2">
                  <el-progress
                    v-show="i==0"
                    :text-inside="true"
                    style="position: relative;top: 8px;"
                    :show-text="false"
                    :percentage="item.num"
                    color="rgb(239,55,89)"
                    status="exception"
                  ></el-progress>
                  <el-progress
                    v-show="i==1"
                    :text-inside="true"
                    style="position: relative;top: 8px;"
                    :show-text="false"
                    :percentage="item.num"
                    color="rgb(228,0,130)"
                    status="exception"
                  ></el-progress>
                  <el-progress
                    v-show="i==2"
                    :text-inside="true"
                    style="position: relative;top: 8px;"
                    :show-text="false"
                    :percentage="item.num"
                    color="rgb(176,75,130)"
                    status="exception"
                  ></el-progress>
                  <el-progress
                    v-show="i>2"
                    :text-inside="true"
                    style="position: relative;top: 8px;"
                    :show-text="false"
                    :percentage="item.num"
                    color="rgb(24,150,254)"
                    status="exception"
                  ></el-progress>
                </div>
                <div class="jindu3">{{item.num}}</div>
              </div>
              <div
                class="mheader"
                style="margin-top: 20px;margin-bottom: 0;font-size: 16px;"
              >本周积分获取排名</div>
              <div
                class="jindu"
                style="border-left: 0!important;margin-bottom: 0px;"
                v-for="(item,i) in page2tubiao2"
                :key="i"
              >
                <div class="jindu1" style="width: 45%;margin-left: 30px;">
                  <div v-show="i==0" style="color:rgb(239,55,89) ;" class="spancolor2">{{i+1}}</div>
                  <div v-show="i==1" style="color:rgb(228,0,130) ;" class="spancolor2">{{i+1}}</div>
                  <div v-show="i==2" style="color:rgb(176,75,130) ;" class="spancolor2">{{i+1}}</div>
                  <div v-show="i>2" style="color:rgb(24,150,254) ;" class="spancolor2">{{i+1}}</div>
                  {{item.name}}
                </div>
                <div class="jindu2">
                  <el-progress
                    v-show="i==0"
                    :text-inside="true"
                    style="position: relative;top: 8px;"
                    :show-text="false"
                    :percentage="item.num*5"
                    color="rgb(239,55,89)"
                    status="exception"
                  ></el-progress>
                  <el-progress
                    v-show="i==1"
                    :text-inside="true"
                    style="position: relative;top: 8px;"
                    :show-text="false"
                    :percentage="item.num*5"
                    color="rgb(228,0,130)"
                    status="exception"
                  ></el-progress>
                  <el-progress
                    v-show="i==2"
                    :text-inside="true"
                    style="position: relative;top: 8px;"
                    :show-text="false"
                    :percentage="item.num*5"
                    color="rgb(176,75,130)"
                    status="exception"
                  ></el-progress>
                  <el-progress
                    v-show="i>2"
                    :text-inside="true"
                    style="position: relative;top: 8px;"
                    :show-text="false"
                    :percentage="item.num*5"
                    color="rgb(24,150,254)"
                    status="exception"
                  ></el-progress>
                </div>
                <div class="jindu3">{{item.num}}</div>
              </div>
              <!-- <img src="img/qt/tx.jpg" /> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
</style>


<script>
import Echarts from "../../assets/js/echarts.all";
import { logoShow } from "../../api/parse";
export default {
  data() {
    return {
      tubiaotrue: 0,
      leftSearch1: 1,
      page2tubiao: [
        {
          name: "nayts1993",
          num: 99
        },
        {
          name: "艾米",
          num: 98
        },
        {
          name: "章雷",
          num: 97
        },
        {
          name: "crr",
          num: 97
        },
        {
          name: "Doris",
          num: 96
        },
        {
          name: "momo",
          num: 14
        },
        {
          name: "晨与橙与城",
          num: 13
        }
      ],
      page2tubiao2: [
        {
          name: "Shen",
          num: 19
        },
        {
          name: "李哲1",
          num: 18
        },
        {
          name: "Lisa",
          num: 17
        },
        {
          name: "Thomas Moh",
          num: 16
        },
        {
          name: "每天困成汪星人",
          num: 15
        },
        {
          name: "一度君华",
          num: 14
        },
        {
          name: "北极星",
          num: 13
        }
      ],
      page2tubiao: [
        {
          name: "nayts1993",
          num: 99
        },
        {
          name: "艾米",
          num: 98
        },
        {
          name: "章雷",
          num: 97
        },
        {
          name: "crr",
          num: 97
        },
        {
          name: "Doris",
          num: 96
        },
        {
          name: "momo",
          num: 14
        },
        {
          name: "晨与橙与城",
          num: 13
        }
      ],
      page2tubiao2: [
        {
          name: "Shen",
          num: 19
        },
        {
          name: "李哲1",
          num: 18
        },
        {
          name: "Lisa",
          num: 17
        },
        {
          name: "Thomas Moh",
          num: 16
        },
        {
          name: "每天困成汪星人",
          num: 15
        },
        {
          name: "一度君华",
          num: 14
        },
        {
          name: "北极星",
          num: 13
        }
      ],
      titleH2: ""
    };
  },
  methods: {
    tubiaochange(num) {
      if (num == 0) {
        //点击上面的
        this.tubiaotrue = 1;
        this.$router.push("/search2");
      } else {
        //点击下面的
        this.tubiaotrue = 0;
        this.$router.push("/bottom");
      }
    },
    tubiao3() {
      var dom = document.querySelector("#tubiao3");
      var myChart = Echarts.init(dom);
      var app = {};
      var option = null;
      option = {
        color: ["rgb(40,206,126)"],
        tooltip: {
          trigger: "axis",
          axisPointer: {
            // 坐标轴指示器，坐标轴触发有效
            type: "shadow" // 默认为直线，可选为：'line' | 'shadow'
          }
        },
        textStyle: {
          color: "white" //显示字体粗细等
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        xAxis: [
          {
            type: "category",
            data: ["4-18", "4-19", "4-20", "4-21", "4-22", "4-23", "4-24"],
            axisTick: {
              alignWithLabel: true
            }
          }
        ],
        yAxis: [
          {
            type: "value"
          }
        ],
        series: [
          {
            name: "宣讲人次",
            type: "bar",
            barWidth: "60%",
            data: [10, 52, 200, 334, 390, 330, 220],
            itemStyle: {
              normal: {
                label: {
                  show: true, //开启显示
                  position: "top", //在上方显示
                  textStyle: {
                    //数值样式
                    color: "white",
                    fontSize: 16
                  }
                }
              }
            }
          }
        ]
      };
      myChart.setOption(option, true);
    },
    changes() {
      let titleobj = logoShow();
      this.titleH2 = titleobj.yaohai.title2;
    }
  },
  mounted: function() {
    this.tubiao3();
    this.changes();
  }
};
</script>
