<template>
  <div id>
    <Maps></Maps>
    <Header></Header>
    <router-view></router-view>
    <Footer
      v-show="$route.path=='/bottomt'||$route.path=='/bottomt'||$route.path=='/bottom'||$route.path=='/home'||$route.path=='/search1'||$route.path=='/search2'"
    ></Footer>
  </div>
</template>

<script>
import Header from "./components/Header";
import Footer from "./components/Footer";
import Maps from "./components/Maps";
import $ from "./assets/js/jquery";
import Echarts from "./assets/js/echarts.all";
import Amap from "./assets/js/amap";
export default {
  name: "",
  components: {
    Header: Header,
    Footer: Footer,
    Maps: Maps
  }
};
</script>

<style>
body {
  background: rgb(1, 10, 84) !important;
}

.main1 {
  background: rgb(1, 10, 84);
}
</style>

