<template>
  <div class="databox2">
    <div class="databoxdiv">
      <div class="lefttable">
        <div class="lefttable1">
          <div class="l1">返回</div>
          <div class="l2">江干区项目组</div>
          <div class="l3">重置</div>
        </div>
        <div class="lefttable2">
          <div class="inputbox">
            <input type="text" class="leftinput" placeholder="请输入内容">
          </div>
          <div v-for="(item,i) in array4" class="lefttable2div" :key="i">xxxx街道</div>
        </div>
        <div class="lefttable3"></div>
      </div>
      <div class="centertable">
        <table class="table">
          <tr>
            <th>关注</th>
            <th>日期</th>
            <th>姓名</th>
            <th>职务</th>
            <th>工作地点</th>
            <th>考勤打卡</th>
            <th>垃圾收运</th>
            <th>设施运行</th>
            <th>垃圾分类</th>
            <th>垃圾投放</th>
            <th>入桶检查</th>
            <th>其他情况</th>
            <th>考核评分</th>
            <th>操作</th>
          </tr>
          <!-- ---------------------------------------- -->
          <tr v-for="(item, i) in page4tableData" :key="i">
            <td>
              <img src="@/assets/images/w1.png" alt="#">
            </td>
            <td>{{item.a1}}</td>
            <td>{{item.a2}}</td>
            <td>{{item.a3}}</td>
            <td>{{item.a4}}</td>
            <td>{{item.a5}}</td>
            <td>{{item.a6}}</td>
            <td>{{item.a7}}</td>
            <td>{{item.a8}}</td>
            <td>{{item.a9}}</td>
            <td>{{item.a10}}</td>
            <td>{{item.a11}}</td>
            <td>{{item.a12}}</td>
            <td>
              <a href="#">查看</a>
              <a href="#">删除</a>
            </td>
          </tr>
        </table>
        <div class="block">
          <div class="btn1"></div>
          <span>1</span>
          <div class="btn2"></div>前往
          <input type="text" placeholder="1">
          页
        </div>
      </div>
      <div class="righttable">
        <div class="rightheader">详细信息</div>
        <div class="righttable1">
          <div class="righttable2">问题编号</div>
          <div class="righttable3">20201116004</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">创建人</div>
          <div class="righttable3">张某</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">创建时间</div>
          <div class="righttable3">2020-10-1</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">详细地址</div>
          <div class="righttable3">xx社区</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">问题类型</div>
          <div class="righttable3">垃圾清运</div>
        </div>
        <div class="righttable1">
          <div class="righttable2" style="height: 140px;line-height: 140px;">问题照片</div>
          <div class="righttable3" style="height: 134px;padding-top: 6px;">
            <img src="@/assets/images/tp1.png">
            <img src="@/assets/images/tp1.png">
            <img src="@/assets/images/tp1.png">
            <img src="@/assets/images/tp1.png">
          </div>
        </div>
        <div class="righttable1">
          <div class="righttable2">问题说明</div>
          <div class="righttable3">文本</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">整改人</div>
          <div class="righttable3">张某</div>
        </div>
        <div class="righttable1">
          <div class="righttable2">整改时间</div>
          <div class="righttable3">2020</div>
        </div>
        <div class="righttable1">
          <div class="righttable2" style="height: 140px;line-height: 140px;">整改照片</div>
          <div class="righttable3" style="height: 134px;padding-top: 6px;">
            <img src="@/assets/images/tp1.png">
            <img src="@/assets/images/tp1.png">
            <img src="@/assets/images/tp1.png">
            <img src="@/assets/images/tp1.png">
          </div>
        </div>
        <div class="righttable1">
          <div class="righttable2" style="height: 120px;line-height: 120px;">整改说明</div>
          <div class="righttable3" style="height: 120px;">文本文本文本文本文本文本文本文本</div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.centertable {
  overflow: hidden;
  overflow-y: scroll;
}
.centertable > .table > tr:hover {
  background-color: rgb(24, 40, 148);
}
.block {
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  padding: 5px;
  color: #606266;
}
.block input {
  width: 28px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  outline: none;
  color: #fff;
  transform: translateY(3px);
  font-size: 18px;
}
.block > span {
  color: #409eff;
}
.block > div {
  width: 20px;
  margin: 0 5px;
  cursor: pointer;
}
.block > div::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
}
.block > .btn1::before {
  transform: rotate(-45deg) translateY(8px);
}
.block > .btn2::before {
  transform: translateY(6px) translateX(5px) rotate(135deg);
}

.centertable > .table {
  width: 100%;
  border-collapse: collapse;
}
.centertable > .table > tr {
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.centertable > .table > tr > th {
  background-color: rgb(24, 40, 148);
}
.centertable > .table > tr > th,
.centertable > .table > tr > td {
  border-bottom: 1px solid #ebeef5;
  padding: 15px 0;
}
.centertable > .table > tr > td {
  line-height: 25px;
  width: 7%;
}
.centertable > .table > tr > td > img {
  width: 40px;
  height: 40px;
}
.centertable > .table > tr > td > a {
  color: #fff;
  margin-left: 5px;
}
.leftinput {
  width: 100%;
  height: 54px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  outline: none;
  color: #fff;
  text-indent: 10px;
}
.inputbox {
  border-bottom: 3px solid rgb(24, 37, 113);
}
.databoxdiv {
  z-index: 100;
}

.lefttable {
  width: 230px;
  height: 800px;
  background-color: rgb(16, 26, 87);
  color: white;
}

.lefttable1 {
  background-color: rgb(24, 37, 113);
  display: inline-flex;
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

.l1 {
  width: 60px;
  color: orange;
  font-size: 12px;
}

.l2 {
  width: 110px;
}

.l3 {
  width: 60px;
  font-size: 12px;
  color: orange;
}

.el-input__inner {
  color: white;
}

.lefttable2div {
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 3px solid rgb(24, 37, 113);
}

.centertable {
  width: 1200px;
  height: 800px;
  position: absolute;
  left: 240px;
  top: 0px;
  background-color: rgb(16, 26, 87);
}

.righttable {
  width: 350px;
  height: 800px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  background-color: rgb(16, 26, 87);
}
.el-table {
  color: white;
  background-color: rgb(16, 26, 87);
}
.el-table tr {
  background-color: rgb(16, 26, 87);
}
.el-table th {
  background-color: rgb(24, 40, 148);
}
.el-table__body tr:hover > td {
  background-color: rgb(24, 40, 148) !important;
}

.el-table thead {
  color: white;
  font-weight: 500;
}
.righttable {
  color: white;
}
.rightheader {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  text-indent: 1em;
}
.righttable1 {
  display: inline-flex;
  width: 100%;
}
.righttable2 {
  width: 25%;
  border: 1px solid rgb(24, 40, 148);
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.datacenter {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 95px;
  left: 50px;
  z-index: 10;
  background-color: rgb(1, 10, 84);
  padding-top: 25px;
}
.el-pager li {
  background-color: rgb(16, 26, 87);
  color: white;
}
.el-pagination button:disabled {
  color: white;
  background-color: rgb(16, 26, 87);
  cursor: not-allowed;
}
.el-pagination .btn-next,
.el-pagination .btn-prev {
  background-size: 16px;
  cursor: pointer;
  margin: 0;
  color: white;
  background-color: rgb(16, 26, 87);
}
.righttable3 {
  width: 75%;
  border: 1px solid rgb(24, 40, 148);
  text-align: left;
  padding-left: 6px;
  height: 40px;
  line-height: 40px;
}

.el-table {
  font-size: 16px;
}
</style>

<script>
export default {
  data() {
    return {
      input3: "",
      array4: [
        {
          name: "张某某",
          num: 88
        },
        {
          name: "张某某",
          num: 86
        },
        {
          name: "张某某",
          num: 84
        },
        {
          name: "张某某",
          num: 82
        },
        {
          name: "张某某",
          num: 80
        },
        {
          name: "张某某",
          num: 79
        },
        {
          name: "张某某",
          num: 68
        },
        {
          name: "张某某",
          num: 66
        },
        {
          name: "张某某",
          num: 54
        },
        {
          name: "张某某",
          num: 50
        }
      ],
      page2tableData: [
        {
          guanzhu: true,
          a1: "星丰小区_高德千",
          a2: "督导员",
          a3: "2021/3/26	",
          a4: "1:09",
          a5: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_27栋_易腐",
          type: 2
        },
        {
          guanzhu: true,
          a1: "星丰小区_高德千",
          a2: "督导员",
          a3: "2021/3/26	",
          a4: "1:09",
          a5: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_27栋_易腐",
          type: 2
        },
        {
          guanzhu: true,
          a1: "星丰小区_章卫芬",
          a2: "督导员",
          a3: "2021/3/26	",
          a4: "1:09",
          a5: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_7栋_易腐",
          type: 2
        },
        {
          guanzhu: true,
          a1: "星丰小区_陈夏仙",
          a2: "督导员",
          a3: "2021/3/26	",
          a4: "1:09",
          a5: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_3栋_易腐",
          type: 2
        },
        {
          guanzhu: true,
          a1: "星丰小区_高德千",
          a2: "督导员",
          a3: "2021/3/26	",
          a4: "1:09",
          a5: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_4栋_易腐",
          type: 2
        },
        {
          guanzhu: true,
          a1: "星丰小区_陈雅珍",
          a2: "督导员",
          a3: "2021/3/26	",
          a4: "1:09",
          a5: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_5栋_易腐",
          type: 2
        },
        {
          guanzhu: true,
          a1: "星丰小区_连加余",
          a2: "督导员",
          a3: "2021/3/26	",
          a4: "1:09",
          a5: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_6栋_易腐",
          type: 2
        },
        {
          guanzhu: true,
          a1: "康乃馨",
          a2: "督导员",
          a3: "2021/3/26	",
          a4: "1:09",
          a5: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_7栋_易腐",
          type: 2
        },
        {
          guanzhu: true,
          a1: "梁江家苑_杜建尧",
          a2: "督导员",
          a3: "2021/3/26	",
          a4: "1:09",
          a5: "绍兴市_上虞区_百官街道_梁江社区_梁江家苑_7栋_其他",
          type: 2
        },
        {
          guanzhu: true,
          a1: "梁江家苑_宋金凤",
          a2: "督导员",
          a3: "2021/3/26	",
          a4: "5:26",
          a5: "绍兴市_上虞区_百官街道_梁江社区_梁江家苑_8栋_易腐",
          type: 2
        }
      ],
      page3tableData: [
        {
          guanzhu: true,
          a1: "星丰小区_陈雅珍",
          a2: "2021/3/26  11:44:04",
          a3: "13:09:00",
          a4: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_21栋_其他	",
          a5: "易腐垃圾",
          a6: "20",
          type: 3
        },
        {
          guanzhu: true,
          a1: "星丰小区_陈雅珍",
          a2: "2021/3/26  11:44:04",
          a3: "13:09:00",
          a4: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_21栋_其他	",
          a5: "易腐垃圾",
          a6: "20",
          type: 1
        },
        {
          guanzhu: true,
          a1: "星丰小区_陈雅珍",
          a2: "2021/3/26  11:44:04",
          a3: "13:09:00",
          a4: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_21栋_其他	",
          a5: "易腐垃圾",
          a6: "20",
          type: 2
        },
        {
          guanzhu: true,
          a1: "星丰小区_陈雅珍",
          a2: "2021/3/26  11:44:04",
          a3: "13:09:00",
          a4: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_21栋_其他	",
          a5: "易腐垃圾",
          a6: "20",
          type: 2
        },
        {
          guanzhu: true,
          a1: "星丰小区_陈雅珍",
          a2: "2021/3/26  11:44:04",
          a3: "13:09:00",
          a4: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_21栋_其他	",
          a5: "易腐垃圾",
          a6: "20",
          type: 2
        },
        {
          guanzhu: true,
          a1: "星丰小区_陈雅珍",
          a2: "2021/3/26  11:44:04",
          a3: "13:09:00",
          a4: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_21栋_其他	",
          a5: "易腐垃圾",
          a6: "20",
          type: 2
        },
        {
          guanzhu: true,
          a1: "星丰小区_陈雅珍",
          a2: "2021/3/26  11:44:04",
          a3: "13:09:00",
          a4: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_21栋_其他	",
          a5: "易腐垃圾",
          a6: "20",
          type: 2
        },
        {
          guanzhu: true,
          a1: "星丰小区_陈雅珍",
          a2: "2021/3/26  11:44:04",
          a3: "13:09:00",
          a4: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_21栋_其他	",
          a5: "易腐垃圾",
          a6: "20",
          type: 2
        },
        {
          guanzhu: true,
          a1: "星丰小区_陈雅珍",
          a2: "2021/3/26  11:44:04",
          a3: "13:09:00",
          a4: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_21栋_其他	",
          a5: "易腐垃圾",
          a6: "20",
          type: 2
        },
        {
          guanzhu: true,
          a1: "星丰小区_陈雅珍",
          a2: "2021/3/26  11:44:04",
          a3: "13:09:00",
          a4: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_21栋_其他	",
          a5: "易腐垃圾",
          a6: "20",
          type: 2
        }
      ],
      page4tableData: [
        {
          guanzhu: true,
          a1: "2021/3/27",
          a2: "潘永泉",
          a3: "督导员",
          a4: "星丰小区	",
          a5: "无扣分",
          a6: "无扣分",
          a7: "无扣分",
          a8: "无扣分",
          a9: "无扣分",
          a10: "无扣分",
          a11: "无扣分",
          a12: "100"
        },
        {
          guanzhu: true,
          a1: "2021/3/27",
          a2: "高德千",
          a3: "督导员",
          a4: "星丰小区	",
          a5: "无扣分",
          a6: "无扣分",
          a7: "无扣分",
          a8: "无扣分",
          a9: "无扣分",
          a10: "无扣分",
          a11: "无扣分",
          a12: "70"
        },
        {
          guanzhu: true,
          a1: "2021/3/27",
          a2: "连加余",
          a3: "督导员",
          a4: "星丰小区	",
          a5: "无扣分",
          a6: "无扣分",
          a7: "无扣分",
          a8: "无扣分",
          a9: "无扣分",
          a10: "无扣分",
          a11: "无扣分",
          a12: "50"
        },
        {
          guanzhu: true,
          a1: "2021/3/27",
          a2: "陈雅珍",
          a3: "督导员",
          a4: "星丰小区	",
          a5: "无扣分",
          a6: "无扣分",
          a7: "无扣分",
          a8: "无扣分",
          a9: "无扣分",
          a10: "无扣分",
          a11: "无扣分",
          a12: "100"
        },
        {
          guanzhu: true,
          a1: "2021/3/27",
          a2: "陈夏仙",
          a3: "督导员",
          a4: "星丰小区	",
          a5: "无扣分",
          a6: "无扣分",
          a7: "无扣分",
          a8: "无扣分",
          a9: "无扣分",
          a10: "无扣分",
          a11: "无扣分",
          a12: "100"
        },
        {
          guanzhu: true,
          a1: "2021/3/27",
          a2: "宋明军",
          a3: "督导员",
          a4: "星丰小区	",
          a5: "无扣分",
          a6: "无扣分",
          a7: "无扣分",
          a8: "无扣分",
          a9: "无扣分",
          a10: "无扣分",
          a11: "无扣分",
          a12: "100"
        },
        {
          guanzhu: true,
          a1: "2021/3/27",
          a2: "朱雅芬",
          a3: "督导员",
          a4: "星丰小区	",
          a5: "无扣分",
          a6: "无扣分",
          a7: "无扣分",
          a8: "无扣分",
          a9: "无扣分",
          a10: "无扣分",
          a11: "无扣分",
          a12: "100"
        },
        {
          guanzhu: true,
          a1: "2021/3/27",
          a2: "郑菊红",
          a3: "督导员",
          a4: "星丰小区	",
          a5: "无扣分",
          a6: "无扣分",
          a7: "无扣分",
          a8: "无扣分",
          a9: "无扣分",
          a10: "无扣分",
          a11: "无扣分",
          a12: "100"
        },
        {
          guanzhu: true,
          a1: "2021/3/27",
          a2: "宋爱香",
          a3: "督导员",
          a4: "星丰小区	",
          a5: "无扣分",
          a6: "无扣分",
          a7: "无扣分",
          a8: "无扣分",
          a9: "无扣分",
          a10: "无扣分",
          a11: "无扣分",
          a12: "100"
        },
        {
          guanzhu: true,
          a1: "2021/3/27",
          a2: "章卫芬",
          a3: "督导员",
          a4: "星丰小区	",
          a5: "无扣分",
          a6: "无扣分",
          a7: "无扣分",
          a8: "无扣分",
          a9: "无扣分",
          a10: "无扣分",
          a11: "无扣分",
          a12: "100"
        }
      ],
      page5tableData: [
        {
          guanzhu: true,
          lajima: "M72A12008150084",
          people: "星丰小区_陈雅珍",
          creatime: "2021/3/26	1:09",
          wtaddress: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_27栋_易腐",
          wttype: "垃圾投放",
          wtsm: "道路还有垃圾",
          fenshu: "十分",
          people2: "张某",
          lasttime: "2020-11-1",
          changetime: "2020-11-1",
          shuoming: "路面垃圾",
          type: 2
        },
        {
          guanzhu: true,
          lajima: "M72A12008150084",
          people: "星丰小区_宋明军",
          creatime: "2021/3/26	1:09",
          wtaddress: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_27栋_易腐",
          wttype: "垃圾投放",
          wtsm: "道路还有垃圾",
          fenshu: "十分",
          people2: "张某",
          lasttime: "2020-11-1",
          changetime: "2020-11-1",
          shuoming: "路面垃圾",
          type: 2
        },
        {
          guanzhu: true,
          lajima: "M72A12008150084",
          people: "康乃馨",
          creatime: "2021/3/26	1:09",
          wtaddress: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_27栋_易腐",
          wttype: "垃圾投放",
          wtsm: "道路还有垃圾",
          fenshu: "十分",
          people2: "张某",
          lasttime: "2020-11-1",
          changetime: "2020-11-1",
          shuoming: "路面垃圾",
          type: 2
        },
        {
          guanzhu: true,
          lajima: "M72A12008150084",
          people: "星丰小区_陈雅珍",
          creatime: "2021/3/26	1:09",
          wtaddress: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_27栋_易腐",
          wttype: "垃圾投放",
          wtsm: "道路还有垃圾",
          fenshu: "十分",
          people2: "张某",
          lasttime: "2020-11-1",
          changetime: "2020-11-1",
          shuoming: "路面垃圾",
          type: 2
        },
        {
          guanzhu: true,
          lajima: "M72A12008150084",
          people: "星丰小区_陈雅珍",
          creatime: "2021/3/26	1:09",
          wtaddress: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_27栋_易腐",
          wttype: "垃圾投放",
          wtsm: "道路还有垃圾",
          fenshu: "十分",
          people2: "张某",
          lasttime: "2020-11-1",
          changetime: "2020-11-1",
          shuoming: "路面垃圾",
          type: 2
        },
        {
          guanzhu: true,
          lajima: "M72A12008150084",
          people: "星丰小区_陈雅珍",
          creatime: "2021/3/26	1:09",
          wtaddress: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_27栋_易腐",
          wttype: "垃圾投放",
          wtsm: "道路还有垃圾",
          fenshu: "十分",
          people2: "张某",
          lasttime: "2020-11-1",
          changetime: "2020-11-1",
          shuoming: "路面垃圾",
          type: 2
        },
        {
          guanzhu: true,
          lajima: "M72A12008150084",
          people: "星丰小区_陈雅珍",
          creatime: "2021/3/26	1:09",
          wtaddress: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_27栋_易腐",
          wttype: "垃圾投放",
          wtsm: "道路还有垃圾",
          fenshu: "十分",
          people2: "张某",
          lasttime: "2020-11-1",
          changetime: "2020-11-1",
          shuoming: "路面垃圾",
          type: 2
        },
        {
          guanzhu: true,
          lajima: "M72A12008150084",
          people: "星丰小区_陈雅珍",
          creatime: "2021/3/26	1:09",
          wtaddress: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_27栋_易腐",
          wttype: "垃圾投放",
          wtsm: "道路还有垃圾",
          fenshu: "十分",
          people2: "张某",
          lasttime: "2020-11-1",
          changetime: "2020-11-1",
          shuoming: "路面垃圾",
          type: 2
        },
        {
          guanzhu: true,
          lajima: "M72A12008150084",
          people: "星丰小区_陈雅珍",
          creatime: "2021/3/26	1:09",
          wtaddress: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_27栋_易腐",
          wttype: "垃圾投放",
          wtsm: "道路还有垃圾",
          fenshu: "十分",
          people2: "张某",
          lasttime: "2020-11-1",
          changetime: "2020-11-1",
          shuoming: "路面垃圾",
          type: 2
        },
        {
          guanzhu: true,
          lajima: "M72A12008150084",
          people: "星丰小区_陈雅珍",
          creatime: "2021/3/26	1:09",
          wtaddress: "绍兴市_上虞区_百官街道_星丰社区_星丰小区_27栋_易腐",
          wttype: "垃圾投放",
          wtsm: "道路还有垃圾",
          fenshu: "十分",
          people2: "张某",
          lasttime: "2020-11-1",
          changetime: "2020-11-1",
          shuoming: "路面垃圾",
          type: 2
        }
      ],

      page6tableData: [
        {
          guanzhu: true,
          a1: "1",
          a2: "垃圾箱",
          a3: "2021/2/22",
          a4: "绍兴市_上虞区_百官街道_梁江社区_梁江家苑_8栋_易腐",
          a5: "设备故障	",
          a6: "0",
          a7: "b2a4df24a7e15269"
        },
        {
          guanzhu: true,
          a1: "2",
          a2: "垃圾箱",
          a3: "2020/10/21",
          a4: "绍兴市_上虞区_百官街道_梁江社区_梁江家苑_6栋_易腐",
          a5: "设备故障	",
          a6: "0",
          a7: "e38c4f2f4615e91a"
        },
        {
          guanzhu: true,
          a1: "3",
          a2: "垃圾箱",
          a3: "2020/7/13",
          a4: "绍兴市_上虞区_百官街道_梁江社区_梁江家苑_2栋_易腐",
          a5: "设备故障	",
          a6: "0",
          a7: "755fe50511b23f9e"
        }
      ]
    };
  }
};
</script>

